= hook(:index_case_top_section, self, f: f) do
  .idc-panel
    .full-width
      %h3
        = @index_case.contact.full_name
    .form-group.one-sixth
      %label #{t :phone}:
      .form-control
        = @index_case.contact.phone
    .form-group.one-third
      %label #{t :email}:
      .form-control
        = @index_case.contact.email
    .form-group.one-quarter
      %label #{t :window_start_date}:
      .form-control
        = l(@index_case.window_start_date, format: :long)
    .form-group.one-quarter
      %label #{t :window_end_date}:
      .form-control
        = l(@index_case.window_end_date, format: :long)
    .form-group.one-quarter
      %label #{t :mtb_projected_return_date}:
      = f.date_field(:projected_return_date, class: 'form-control')
    .form-group.one-quarter
      %label #{t :mtb_case_number}:
      = f.text_field(:case_number, class: 'form-control')

    = hook(:index_case_top_section_bottom, self, f: f)
