= styles_for :index_case

.space-between.page-heading
  .title
    %h1{id: "create_index_case_title"} #{t controller_name.to_sym}
    = image_tag("loading.gif", size: :thumb, id: "loading", style: "display: none;")

.remote#create_index_case{ hidden }

= render 'fat_free_crm/shared/search'

.remote#options{ hidden }

%ul.list#index_cases
  - if @index_cases.any?
    = render @index_cases
  - else
    = render "fat_free_crm/shared/empty"

#paginate= render "fat_free_crm/shared/paginate_with_per_page"
#export= render "fat_free_crm/shared/export"
