%li[customfield]{ highlightable(dom_id(customfield, :tools)) }
  %span.handle <img src="/images/sortable.gif">
  .tools{ invisible, :id => dom_id(customfield, :tools) }
    %small
      = link_to_edit(customfield, :url => edit_admin_customfield_path(customfield)) + " | "
      = link_to_delete(customfield, :url => admin_customfield_path(customfield))
  %tt
    %b
      = customfield.field_label
    - if field_type = Customfield.form_field_types[customfield.form_field_type]
      = "(#{field_type[:name]})"

    == added #{time_ago_in_words(customfield.created_at)} ago
    = hook(:customfield_bottom, self, :customfield => customfield)

