
.full-width
  = "Select Options (pipe separated):"
= f.text_field :collection_string, class: 'full-width form-control field_collection_string'
.form-group.one-third
  %label Hint:
  = f.text_field(:hint, { class: 'form-control'})
.form-group.one-third
  %label Placeholder:
  = f.text_field(:placeholder, { class: 'form-control'})
.form-group.one-third
  .form-check
    = f.check_box(:required, {class: 'form-check-input'})
    %label.form-check-label Required
  .form-check
    = f.check_box(:disabled, {class: 'form-check-input'})
    %label.form-check-label Disabled