%div
  .label.top.req
    = "Select Options (pipe separated):"
= f.text_field :collection_string, class: 'field_collection_string', size: 78

%table
  %tr
    %td
      
    %td= spacer
    %td
      .label.top
        %span Required:
        = f.check_box :required
        %br
        %span Disabled:
        = f.check_box :disabled
  %tr
    %td
      .label.top Hint:
      = f.text_field :hint
    %td= spacer
    %td
      .label.top Placeholder:
      = f.text_field :placeholder
