%li.sub_highlight[event_instance]

  -#.strip{:style => "color: gray;"} #{t :other}

  %ul.sub_tools
    = hook(:event_instance_tools_before, self, :event_instance => event_instance)
    %li= link_to("Attendance Report", report_attendance_event_instance_path(event_instance, :format => :xls), :title => I18n.t(:"to_xls"))
    - if can?(:update, event_instance)
      %li= link_to_edit(event_instance)

    - if can?(:destroy, event_instance)
      %li= link_to_delete(event_instance)

  .indentnone
    = link_to(event_instance.name, event_instance)
    &ndash;
    %tt
      = event_instance.starts_at_date 
      - if event_instance.attendances.any?
        = " | " + event_instance.attendances.count.to_s + " person".pluralize(event_instance.attendances.count) + " came"
      -#= event.location << ", " unless event.location.blank?
      -#= t(:added_by, :time_ago => time_ago_in_words(event_instance.created_at), :user => (event_instance.user.id == @current_user.id ? t(:me) : event_instance.user.full_name)) << " | "
      -#= t('pluralize.contact', event.contacts.count) << " | "
      -#= t('pluralize.opportunity', event.opportunities.count)

      - if event_instance.tag_list.present?
        %dt
          .tags= tags_for_index(event_instance)

      = hook(:event_instance_bottom, self, :event_instance => event_instance)
