.panel#summary
  %h4= h(@event_instance.event.name)
  
  %li
    %dt= @event_instance.location
    %tt Location
  %li
    %dt= @event_instance.event.contact_group ? @event_instance.event.contact_group.name : ""
    %tt Group
  
  %li.last
    %dt= truncate((@event_instance.assigned_to ? @event_instance.assignee.full_name : @event_instance.user.full_name), :length => 16)
    %tt #{t :assigned_to}:

  = render "fields/sidebar_show", :asset => @event_instance

  - if @event_instance.tag_list.present?
    %dt
      .tags= tags_for_index(@event_instance)

  = hook(:show_event_instance_sidebar_bottom, self, :event_instance => @event_instance)
