%li.highlight.campaign{id: "campaign_#{campaign.id}"}
  .flex-container
    %h3= link_to(campaign.name, campaign)
    = render "fat_free_crm/campaigns/campaign_tools", campaign: campaign
  = render "fat_free_crm/campaigns/status", campaign: campaign
  = hook(:campaign_bottom, self, campaign: campaign)


