.filters#filters
  .caption= t :campaign_statuses
  - Setting.campaign_status.each do |key|
    .space-between
      .form-check
        = campaign_status_checkbox(key, @campaign_status_total[key])
        = label_tag(key, t(key), class: 'form-check-label')
      .status-total
        = @campaign_status_total[key]

  .space-between
    .form-check
      = campaign_status_checkbox("other", @campaign_status_total[:other])
      = label_tag(:other, t(:other), class: 'form-check-label')
    .status-total
      = @campaign_status_total[:other]

  .space-between
    %b #{t :total_campaigns}
    .status-total
      %b= @campaign_status_total[:all]
  = hook(:index_campaign_sidebar_bottom, self)
