= simple_form_for(@document, html: one_submit_only) do |f|
  = link_to_close new_document_path
  = hidden_field_tag "document[uploaded_by_id]", current_user.id
  = hidden_field_tag "document[record_id]", "#{@asset.id if @asset}"
  = hidden_field_tag "document[record_klass]", "#{@asset.class if @asset}"

  .idc-panel
    .form-group.one-half
      = f.file_field :file, autofocus: true

  .buttonbar
    = f.submit 'Upload Document', :class => 'btn btn-primary'
    = link_to_cancel new_document_path + "?view=#{@view}", :class => 'btn btn-link'
