- field1 = f.object || CustomFieldPair.new
- field2 = f.object.respond_to?(:paired_with) ? field1.paired_with : CustomFieldPair.new

%table{class: :pairs}
  = fields_for("pair[0]", field1) do |first|
    = fields_for("pair[1]", field2) do |second|
      .form-group.one-quarter
        %label Hint:
        = f.text_field(:hint, { class: 'form-control' })
      
      .form-group.one-quarter
        .form-check
          = f.check_box( :required, { class: 'form-check-input'})
          %label.form-check-label Required
        .form-check
          = f.check_box( :disabled, { class: 'form-check-input'})
          %label.form-check-label Disabled
          = first.hidden_field :id
          = second.hidden_field :id
