- path = new_admin_field_path(:field_group_id => @field.field_group_id)

= form_for([:admin, @field], :as => :field, :html => one_submit_only(:field), :remote => true) do |f|
  = link_to_close path
  = f.error_messages
  = render :partial => "top_section", :locals => { :f => f }
  .buttonbar
    = f.submit t(:create_field), :id => :field_submit
    or
    = link_to_cancel path
