
= form_for([:admin, @field], :html => one_submit_only(:field), :remote => true) do |f|
  = link_to_close new_admin_field_path
  = f.error_messages
  = render :partial => "admin/fields/top_section", :locals => { :f => f }
  .buttonbar
    = f.submit "Create field"
    or
    = link_to_cancel new_admin_field_path
