- obj = f.object
- field1 = obj || Field.new
- field2 = obj.try(:paired_with)
- pair = [field1, field2]

%table{:id => :pairs}
  - pair.each do |p|
    - first = (p == pair.first)
    = fields_for("pair[#{first ? 0 : 1}]", p) do |f|
      %tr
        %td
          .label
            = first ? t('pair.start') : t('pair.end')
            = f.hidden_field :id
        %td= spacer
        %td= spacer
      %tr
        %td
          .label.top Required:
          = f.check_box :required
        %td= spacer
        %td
          .label.top Disabled:
          = f.check_box :disabled
      %tr
        %td
          .label.top Hint:
          = f.text_area :hint, :rows => 5
        %td= spacer
        %td
          .label.top Placeholder:
          = f.text_area :placeholder, :rows => 5
