.section.edit_admin_fields
  = f.hidden_field :field_group_id

  %table
    %tr
      %td
        .label.top.req Field label:
        = f.text_field :label, :id => :field_label

      - if f.object.is_a? CustomField
        %td= spacer
        %td
          .label.top.req Field type:
          = f.select :as, field_edit_as_options(f.object), {}, :class => 'field_as'

  %table{:class => 'customfields', :style => ( f.object.as =~ /pair/ ) ? 'display: none;' : nil}
    %tr
      %td
        - show_or_hide = ( f.object.as.nil? or !%w( select radio check_boxes ).include?(f.object.as) ) ? 'display: none;' : nil
        .label.top.req{:style => show_or_hide} Select Options (pipe separated):
        = f.text_field :collection_string, :style => show_or_hide, :class => 'field_collection_string'
    %tr
      %td
        .label.top Maxlength:
        = f.text_field :maxlength
      %td= spacer
      %td
        .label.top
          %span Required:
          = f.check_box :required
          %br
          %span Disabled:
          = f.check_box :disabled
    %tr
      %td
        .label.top Hint:
        = f.text_field :hint
      %td= spacer
      %td
        .label.top Placeholder:
        = f.text_field :placeholder

  = render :partial => 'customfield_pairs', :locals => {:f => f}

  = hook(:customfield_top_section_bottom, self, :f => f)
