.section
  = f.hidden_field :field_group_id

  %table
    %tr
      %td
        .label.top.req Field label:
        = f.text_field :label, :id => :field_label

      - if f.object.is_a? CustomField
        %td= spacer
        %td
          .label.top.req Field type:
          = f.select :as, field_edit_as_options(f.object)
    %tr
      %td
        .label.top.req Select Options (pipe separated):
        = f.text_field :collection_string
    %tr
      %td
        .label.top Required:
        = f.check_box :required
      %td= spacer
      %td
        .label.top Disabled:
        = f.check_box :disabled
    %tr
      %td
        .label.top Hint:
        = f.text_area :hint, :rows => 5
      %td= spacer
      %td
        .label.top Placeholder:
        = f.text_area :placeholder, :rows => 5

    = hook(:customfield_top_section_bottom, self, :f => f)

    :javascript
      var toggleCollection = function(){
        var select_el = $('field_collection_string');
        switch($('field_as').value){
          case "select":
          case "multiselect":
          case "check_boxes":
            select_el.show().previous().show().innerHTML = "Select Options (pipe separated):";
            break;
          default:
            select_el.hide().previous().hide();
        }
      };

      toggleCollection();

      Event.observe($('field_as'), 'change', toggleCollection);
