.section
  = f.hidden_field :field_group_id

  %table
    %tr
      %td
        .label.top.req Field label:
        = f.text_field :label, :id => :field_label

      - if f.object.is_a? CustomField
        %td= spacer
        %td
          .label.top.req Field type:
          = f.select :as, field_edit_as_options(f.object)

  %table{:id => 'customfields'}
    %tr
      %td
        .label.top.req Select Options (pipe separated):
        = f.text_field :collection_string
    %tr
      %td
        .label.top Required:
        = f.check_box :required
      %td= spacer
      %td
        .label.top Disabled:
        = f.check_box :disabled
    %tr
      %td
        .label.top Hint:
        = f.text_area :hint, :rows => 5
      %td= spacer
      %td
        .label.top Placeholder:
        = f.text_area :placeholder, :rows => 5
        
  -# date/time pair repeats
  = render :partial => 'pairs', :locals => {:f => f}

  = hook(:customfield_top_section_bottom, self, :f => f)

  :javascript
    var toggleFields = function(){
      switch($('field_as').value){
        case "select":
        case "multiselect":
        case "check_boxes":
          toggleCollection(true);
          toggleDatePair(false);
          break;
        case "datepair":
        case "datetimepair":
          toggleDatePair(true);
          toggleCollection(false);
          break;
        default:
          toggleCollection(false);
          toggleDatePair(false);
      }
    };
    
    var toggleCollection = function(val){
      if (val) {
        $('field_collection_string').show().previous().show().innerHTML = "Select Options (pipe separated):";
      } else {
        $('field_collection_string').hide().previous().hide();
      }
    }
    
    var toggleDatePair = function(val){
      if (val) {
        $('pairs').show();
        $('customfields').hide();
        
      } else {
        $('customfields').show();
        $('pairs').hide();
      }
    }

    toggleCollection(false);
    toggleDatePair(false);
    toggleFields();

    Event.observe($('field_as'), 'change', toggleFields);
