= styles_for :fields

.title_tools
  = link_to_inline(:create_field, new_admin_field_path)

.title
  %span#create_field_title Fields

.remote#options{ hidden }
.remote#create_field{ hidden }

.tabs
  %ul
    - @klasses.each do |klass|
      %li{ :"data-tab-class" => klass.name.downcase }= klass

- @klasses.each do |klass|
  - asset = klass.name.downcase
  .fields{ :id => "#{asset}_fields", :style => ("display: none;" if klass != Contact) }
    %h3= klass

    .create_new
      == #{link_to(t(:create_new_custom_field_for, :klass => t(asset + '_small')), :url => new_admin_field_path(:klass_name => klass.name), :remote => true)}.

    .list#fields
      - if klass.fields.present?
        = render :partial => "field", :collection => klass.fields
