<html>
	<span align="left"><%= Date.today.strftime('%m/%d/%Y') %></span><br><br>
	<body>
	  <b>Subject: COVID-19 Test Positive</b>
	  <br /><br />
	  <div>
			An individual in your organization has reported testing positive for COVID-19. Following is known information about the exposure timeline and business location. An investigation and contact trace effort has been launched to identify additional exposures.
	  </div>
	  <table>
		  <tr>
		    <td>Division: <%= @account&.division_name || @account&.reports_to&.name %></td>
		  </tr>
		  <tr>
		    <td>Sub Division: <%= @account&.name %></td>
		  </tr>
		  <tr>
		    <td>Location: <%= @facility&.name %> </td>
		  </tr>
		</table>
	  <br />
	  Please click on the link to see employee details
	  <br />
	   <a href=@entity_url target="_blank"><%= index_case.contact.full_name %></a>
	</body>
</html>
