.panel#summary
  %h4= h(@contact_group.name)
  
  %li
    %dt= @contact_group.category.blank? ? t(:other) : t(@contact_group.category)
    %tt #{t :category}:
  %li.last
    %dt= truncate((@contact_group.assigned_to ? @contact_group.assignee.full_name : @contact_group.user.full_name), :length => 16)
    %tt #{t :assigned_to}:

  - unless @contact_group.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @contact_group.background_info).html_safe

  = render "fields/sidebar_show", :asset => @contact_group

  - if @contact_group.tag_list.present?
    %dt
      .tags= tags_for_index(@contact_group)

  = hook(:show_contact_group_sidebar_bottom, self, :contact_group => @contact_group)
