- class_name = @comment.commentable.class.name.downcase
- id_prefix = "#{class_name}_#{@comment.commentable.id}"

$('##{id_prefix}_shown_notes').val('#{ j @comment.commentable.comment_ids.join(',') }');
$('##{dom_id(@comment)}').css('background-color', '#ffe4e1').slideUp(250);
