- formatted = comment.comment
- truncated = truncate(strip_tags(formatted), length: 125)
- collapsible = formatted.size > 150
- commentable = comment.commentable

%li.comment.highlight[comment]
  .body
    = link_to avatar_for(comment.user, size: :small), user_path(comment.user)
    %ul.tools
      - if can?(:update, commentable)
        %li= link_to_edit(comment)
      - if can?(:destroy, commentable)
        %li= link_to_delete(comment)

    = link_to(comment.user.full_name, user_path(comment.user)) + ","
    %tt
      = t(:added_note, value: timeago(comment.created_at) ).html_safe
      - if collapsible && can?(:read, commentable)
        = " | "
        = link_to_function(comment.collapsed? ? t(:more) : t(:less), "crm.flip_note_or_email(this, '#{t(:more)}', '#{t(:less)}')", class: "toggle")

    - if can?(:read, commentable)
      - if collapsible
        %dt{ hidden_if(comment.expanded?), id: dom_id(comment, :truncated) }
          = sanitize_comment(truncated)
        %dt.textile{ hidden_if(comment.collapsed?), id: dom_id(comment, :formatted) }
          = sanitize_comment(formatted)
      - else
        %dt.textile= sanitize_comment(formatted)
