- truncated = simple_format h(truncate(comment.comment.gsub("\n", " "), :length => 125))
- formatted = simple_format h(comment.comment)
- collapsable = formatted.size > 150

%li[comment]{ highlightable(dom_id(comment, :tools), :off => "#f2f2f2") }
  .body
    = link_to avatar_for(comment.user, :size => "25x25"), user_path(comment.user)
    .tools{ invisible, :id => dom_id(comment, :tools) }
      = link_to_edit(comment) + " | "
      = link_to_delete(comment)

    = link_to(comment.user.full_name, user_path(comment.user)) + ","
    %tt
      added note #{t(:time_ago, distance_of_time_in_words(Time.now, comment.created_at))} (#{comment.created_at.strftime('%b %e, %Y')})
      - if collapsable
        = " | " + link_to_function(comment.collapsed? ? t(:more) : t(:less), "crm.flip_note_or_email(this, '#{t(:more)}', '#{t(:less)}')", :class => "toggle")

    - if collapsable
      %dt{ hidden_if(comment.expanded?), :id => dom_id(comment, :truncated) }
        = truncated
      %dt{ hidden_if(comment.collapsed?), :id => dom_id(comment, :formatted) }
        = auto_link(formatted)
    - else
      %dt= auto_link(formatted)
