- collapsed = true
%li[comment]{ highlightable(dom_id(comment, :tools), :off => "#f2f2f2") }
  .body
    = link_to avatar_for(comment.user, :size => "25x25"), user_path(comment.user)
    .tools{ invisible, :id => dom_id(comment, :tools) }
      = link_to_edit(comment) + " | "
      = link_to_delete(comment) + "&nbsp;"

    %div  
      = link_to_function "<small>#{ true ? '&#9658;' : '&#9660;' }</small> #{comment.user.full_name} - #{t(:time_ago, distance_of_time_in_words(Time.now, comment.created_at))}", 'crm.flip_subtitle(this)'
    
    %div
      %small#comment_intro{ hidden_if(!collapsed) }
        = truncate(h(comment.comment.gsub("\n"," .. ")), :length => 100)
      #comment{ hidden_if(collapsed) }       
        %dt= auto_link(simple_format h(comment.comment))    