- id = dom_id(@comment)

- if @comment.errors.empty?
  jQuery('##{id}').replaceWith('#{ j render(:partial => "comment", :collection => [ @comment ]) }');
  jQuery('##{id}').effect("highlight", { duration:1500 });
- else
  jQuery('##{id}').html('#{ j render(:partial => "edit") }');
  jQuery('##{id}').effect("shake", { duration:250, distance: 6 });
  jQuery('#comment_comment').focus();
