.inline#inline{ hidden_if(collapsed) }
  - remote_form_for(@task) do |f|
    = hidden_field_tag :view, @view
    = hidden_field_tag "task[user_id]", @current_user.id
    %table{ :align => :center, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td{ :valign => :top }
          .label.top.req Task name:
          = f.text_field :name, :style => "width:320px"
        %td= spacer
        %td{ :valign => :top }
          .label.top.req Due:
          = f.select :due_date, @due_date, {}, { :style => "width:120px" }
        %td= spacer
        %td{ :valign => :top }
          .label.top.req Assign to:
          = collection_select :task, :assigned_to, @users, :id, :full_name, {}, { :style => "width:120px" } 
        %td= spacer
        %td{ :valign => :top }
          .label.top.req &nbsp;
          = f.submit "Assign Task"
