%li[assigned]{ highlightable(dom_id(assigned, :tools)) }
  - unless assigned.category.blank?
    .strip{:class => assigned.category}= Setting.task_category[assigned.category.intern]
  - else
    .strip{:style => "color:white"} Other
  %div
    .tools{ hidden, :id => dom_id(assigned, :tools) }
      %small
        = link_to("Edit", task_path(assigned)) << " | "
        = remote_delete(assigned, bucket)
      &nbsp;
    = link_to(assigned.assignee.full_name, "mailto:" + assigned.assignee.email) + ": "
    = assigned.name
    - if assigned.asset_id?
      == (re: #{link_to(assigned.asset.name, polymorphic_url(assigned.asset))})
    &ndash;
    %tt
      - if assigned.due_at_hint == "due_asap"
        due as soon as possible.
      - elsif assigned.due_at_hint == "due_later"
        due sometime soon.
      - elsif assigned.due_at < Date.today
        %span.warn= distance_of_time_in_words(assigned.due_at, Date.today) << " late, was due on #{assigned.due_at.strftime('%b %e')}"
      - elsif assigned.due_at > Date.today
        = "due in " << distance_of_time_in_words(Time.now, assigned.due_at.end_of_day)
      - else
        %span.cool due today!
      
