= render :partial => "calendar"

.inline#create_pending_task{ hidden_if(session["create_pending_task"].nil?) }
  - remote_form_for(@task) do |f|
    = hidden_field_tag :view, @view
    = hidden_field_tag "task[user_id]", @current_user.id
    %table{ :align => :center, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td{ :valign => :top }
          .label.top.req Task name:
          = f.text_field :name, :style => "width:320px"
        %td= spacer
        %td{ :valign => :top }
          .label.top.req Due:
          - if @task.due_at_hint != "specific_time"
            = f.select :due_at_hint, @due_at_hint, {}, { :style => "width:120px;", :onchange => "flip_calendar(this.value)" }
            = f.text_field :calendar, :style => "width:110px; display:none;", :autocomplete => :off
          - else
            = f.select :due_at_hint, @due_at_hint, {}, { :style => "width:120px; display:none;", :onchange => "flip_calendar(this.value)" }
            = f.text_field :calendar, :style => "width:110px;", :autocomplete => :off
        %td= spacer
        %td{ :valign => :top }
          .label.top.req Category:
          = f.select :category, @category, { :include_blank => "-- Select --" }, { :style => "width:120px" }
        %td= spacer
        %td{ :valign => :top }
          .label.top.req &nbsp;
          = f.submit "Create Task"
