%li[pending]{ highlightable(dom_id(pending, :tools)) }
  - if pending.category
    .strip{:class => pending.category}= Setting.task_category[pending.category.intern]
  - else
    .strip{:style => "color:white"} Other
  %div
    .tools{ hidden, :id => dom_id(pending, :tools) }
      %small
        = link_to("Edit", task_path(pending)) << " | "
        = link_to_remote("Delete!", :url => task_path(pending), :method => :delete, :before => visual_effect(:highlight, dom_id(pending), :startcolor => "#afeeee"))
      &nbsp;
    = check_box_tag :complete, 1, false, :onclick => complete(pending, bucket)
    %label{ :id => dom_id(pending, :name) }
      - if pending.user.id != @current_user.id
        == From #{link_to(pending.user.full_name, "mailto:" + pending.user.email)}:
      = pending.name << " &ndash; "
    %tt
      - if pending.due_at.nil?
        due sometime soon.
      - elsif pending.due_at.utc == Task::ASAP
        due now!
      - elsif pending.due_at < Date.today
        %span.warn= distance_of_time_in_words(pending.due_at, Date.today) << " late, was due on #{pending.due_at.strftime('%b %e')}"
      - elsif pending.due_at > Date.today
        = "due in " << distance_of_time_in_words(Date.today, pending.due_at)
      - else
        %span.cool due today!
      
