.section
  %table
    %tr
      %td(colspan="5")
        .label.top.req #{t :name}:
        = f.text_field :name, :style => "width:500px"
    %tr
      %td
        .label.req #{t :due}:
        - bucket = (params[:bucket].blank? ? @task.bucket : params[:bucket]) || "due_asap"
        - if @task.bucket != "specific_time"
          = f.select :bucket, @bucket, { :selected => bucket.to_sym }, { :style => "width:160px;", :onchange => "crm.flip_calendar(this.value)" }
          = f.text_field :calendar, :style => "width:160px; display:none;", :autocomplete => :off
        - else
          = f.select :bucket, @bucket, { :selected => :specific_time }, { :style => "width:160px; display:none;", :onchange => "crm.flip_calendar(this.value)" }
          = f.text_field :calendar, :value => (Setting.task_calendar_with_time ? l(f.object.due_at.localtime, :format => :mmddyyyy_hhmm) : l(f.object.due_at.to_date, :format => :mmddyyyy)), :style => "width:160px;", :autocomplete => :off
      %td= spacer
      %td
        .label.req #{t :assign_to}:
        = collection_select :task, :assigned_to, @users, :id, :full_name, { :include_blank => t(:myself) }, { :style => "width:160px", :disabled => @task.assigned_to == @current_user.id }
      %td= spacer
      %td
        .label.req #{t :category}:
        = f.select :category, @category, { :selected => @task.category.blank? ? nil : @task.category.to_sym, :include_blank => t(:select_blank) }, { :style => "width:160px" }

    - if Setting.background_info && Setting.background_info.include?(:task)
      %tr
        %td(colspan="5")
          .label= t(:extra_info).capitalize << ':'
          = f.text_area :background_info, :style =>"width:500px", :rows => 3

    = hook(:task_top_section_bottom, self, :f => f)
