= styles_for :task

=inline :create_assigned_task, url_for(:action => :new, :view => @view), "Assign Task"
.title Assigned Tasks
= render :partial => "assign"

.log#log
  - if !@tasks.values.flatten.empty? || filtered_out?(@view)
    - Setting.task_due_at_hint.each do |value, key|
      %div{ hidden_if(filtered_out?(@view, key)), :id => "list_#{key}" }
        %h3= value
        .bucket{:id => key}= render :partial => @view, :collection => @tasks[key] || [], :locals => { :bucket => key }
  - else
    %div You don't have any assigned tasks that are unfinished.
