= render :partial => "styles"

- collapsed = session["tasks_new_assigned"].nil?
=inline "Assign New Task", url_for(:action => :new, :view => @view), { :id => :inline, :collapsed => collapsed }
.title Assigned Tasks
= render :partial => "assign", :locals => { :collapsed => collapsed }

.log#log
  - if !@tasks.values.flatten.empty? || filtered_out?(@view)
    - Setting.task_due_at_hint.each do |value, key|
      %div{ hidden_if(filtered_out?(@view, key)), :id => "list_#{key}" }
        %h3= value
        .bucket{:id => key}= render :partial => @view, :collection => @tasks[key] || [], :locals => { :bucket => key }
  - else
    %div You don't have any assigned tasks that are unfinished.
