= styles_for :task

- if @view == "completed"
  - buckets = Setting.unroll(:task_completed)
  .title #{t :completed_tasks}
- else
  - buckets = Setting.unroll(:task_bucket)
  = render :partial => "title"

.log#tasks
  - buckets.each do |value, key|
    %div{ hidden_if(filtered_out?(@view, key)), :id => "list_#{key}" }
      %h3{:class => key}= t(value)
      .bucket{:id => key}= render :partial => @view, :collection => @tasks[key] || [], :locals => { :bucket => key }
  - if @tasks.values.flatten.blank?
    = render :partial => "empty"
