
= styles_for :task

- if @view == "completed"
  - buckets = Setting.unroll(:task_completed)
  .title
    = t(:completed_tasks)
    = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
- else
  - buckets = Setting.unroll(:task_bucket)
  = render "title"

.log#tasks
  - buckets.each do |value, key|
    %div{ hidden_if(filtered_out?(@view, key)), :id => "list_#{key}" }
      %h3{:class => key}= t(value)
      .bucket{:id => key}= render :partial => @view, :collection => @tasks[key] || [], :locals => { :bucket => key }
  - if @tasks.values.flatten.blank?
    = render "empty"

#export= raw links_to_task_export(@view)
