- amount = facility.pipeline_opportunities.map(&:weighted_amount).sum
%li.highlight.facility{id: "facility_#{facility.id}"}
  .flex-container
    %h3= link_to(facility.name, facility)
    = render "fat_free_crm/facilities/facility_tools", facility: facility
  .idc-details
    = facility.location + ", " unless facility.location.blank?
    - user_name = facility.user.try(:full_name)
    - if user_name
      = t(:added_by, time_ago: timeago(facility.created_at), user: h(user_name)).html_safe << " | "
    - else
      = t(:added_ago, value: timeago(facility.created_at)).html_safe << " | "
    = t('pluralize.contact', facility.contacts_count) + " | "
    = t('pluralize.opportunity', facility.opportunities_count)
  %div
    -# = stars_for(facility)
    = " | ".html_safe << link_to(facility.website, facility.website.to_url) if facility.website.present?
    = " | ".html_safe << link_to_email(facility.email) if facility.email.present?
    = " | ".html_safe << t(:phone_small) << ": " << .phone-number=(facility.toll_free_phone? ? facility.toll_free_phone : facility.phone) if facility.toll_free_phone? || facility.phone?
  - if facility.tags.present?
    .tags= tags_for_index(facility)

  = hook(:facility_bottom, self, facility: facility)
