= hook(:facility_top_section, self, f: f) do
  .idc-panel
    .form-group.one-quarter
      %label.req #{t :name}:
      = f.text_field(:name, { autofocus: true, class: 'form-control' })
    .form-group.one-quarter
      %label #{t :facility_kind}
      /= f.select :facility_kind, Setting.unroll(:facility_kind), { selected: @facility.facility_kind || "other", include_blank: t(:other) }, { class: 'form-control', multiple: true }
      = f.select(:facility_kind, Setting.unroll(:facility_kind).map(&:first), {selected: @facility.facility_kind || "Unknown", include_blank: t(:unknown)}, :class => "form-control")
    .form-group.one-quarter
      %label #{t :accounts}:
      = f.collection_check_boxes(:account_ids, @accounts, :id, :name ) do |b|
        .d-block
          = b.check_box
          = b.label
    .form-group.one-quarter
      %label #{t :facility_status}
      = f.select(:status, FatFreeCrm::Facility.statuses.map { |(w)| [w.humanize, w] }, {selected: @facility.status || "Unknown", include_blank: t(:unknown)}, :class => "form-control")
    - if Setting.background_info && Setting.background_info.include?(:facility)
      .form-group.one-third
        %label= t(:background_info) + ':'
        = f.text_area(:background_info, {})

    = hook(:facility_top_section_bottom, self, f: f)
