%nav
  %ul{ :class => "nav nav-tabs"}
    - tabs.each do |tab|
      %li{ :class => "nav-item" }
        - if tab.key?(:url)
          = link_to(tab[:url], class: tab[:active] ? "nav-link active" : "nav-link") do
            %i.fa{class: tab[:icon]}
            = t(tab[:text])
        - else
          = link_to_function(("<i class='fa fa-phone'></i>" + t(tab[:text])).html_safe, onclick: tab[:function], class: "nav-link")


= show_flash
.idc-page-layout
  %aside{ class: :sidebar, id: :sidebar }
    = render "layouts/fat_free_crm/sidebar"
  %main{ class: :main, id: :main }
    = yield
