%nav
  %ul{ :class => "nav nav-tabs"}
    - tabs.each do |tab|
      %li{ :class => "nav-item" }
        = link_to(tab[:url], class: tab[:active] ? "nav-link active" : "nav-link") do
          %i.fa{class: tab[:icon]}
          = t(tab[:text])

= show_flash
.idc-page-layout
  %aside{ class: :sidebar, id: :sidebar }
    = render "layouts/fat_free_crm/sidebar"
  %main{ class: :main, id: :main }
    = yield
