= styles_for :group

.space-between.page-heading
  .title
    %h1#create_group_title #{t :groups}
    = image_tag("loading.gif", size: :thumb, id: "loading", style: "display: none;")
  .title_tools
    = link_to_inline(:create_group, new_admin_group_path, {text: t(:create_group), class: 'btn btn-primary'})


.remote#create_group{ hidden }

%ul.list#groups
  - if @groups.any?
    = render partial: "group", collection: @groups
  - else
    = render "fat_free_crm/shared/empty"

#paginate= render "fat_free_crm/shared/paginate"
