.filters#filters
  %h4.caption.heading= t :account_categories
  - Setting.account_category.each do |key|
    .space-between
      .form-check
        = account_category_checkbox(key, @account_category_total[key])
        = label_tag(key, t(key), class: 'form-check-label')
      .status-total
        = @account_category_total[key]

  .space-between
    .form-check
      = account_category_checkbox("other", @account_category_total[:other])
      = label_tag(:other, t(:other), class: 'form-check-label')
    .status-total
      = @account_category_total[:other]

  .space-between
    %b #{t :total_accounts}
    .status-total
      %b= @account_category_total[:all]
  = hook(:index_account_sidebar_bottom, self)
