= hook(:account_top_section, self, f: f) do
  .idc-panel
    .form-group.one-third
      %label.req #{t :name}:
      = f.text_field(:name, { autofocus: true, class: 'form-control' })
    .form-group.one-third
      %label #{t :assigned_to}:
      = user_select(:account, FatFreeCrm::User.without_user(current_user), current_user)
    .form-group.one-third
      %label #{t :category}:
      = f.select :category, Setting.unroll(:account_category), { selected: (@account.category || "other").to_sym, include_blank: t(:other) }, { class: 'form-control' }

    - if Setting.background_info && Setting.background_info.include?(:account)
      .form-group.one-third
        %label= t(:background_info) + ':'
        = f.text_area(:background_info, {})

    = render partial: "/fat_free_crm/shared/tags", locals: {f: f}

    = hook(:account_top_section_bottom, self, f: f)
