= styles_for :account

= render 'entities/title_bar'

.remote#create_account{ hidden }

= render 'search'

.remote#options{ hidden }

%ul.list#accounts
  - if @accounts.any?
    = render @accounts
  - else
    = render "fat_free_crm/shared/empty"

#paginate= render "fat_free_crm/shared/paginate_with_per_page"
#export= render "fat_free_crm/shared/export"
