- current_outline = t("option_#{@outline}")

%ul.format-buttons
  %li= link_to '', '#', :title => "Brief format", :"data-outline" => "brief", :class => ["brief-button", ("active" if current_outline == "brief")].compact.join(" ")
  %li= link_to '', '#', :title => "Long format", :"data-outline" => "long", :class => ["long-button", ("active" if current_outline == "long")].compact.join(" ")
  - if controller_name == "contacts"
    %li= link_to '', '#', :title => "Full format", :"data-outline" => "full", :class => ["full-button", ("active" if current_outline == "full")].compact.join(" ")


:javascript
  jQuery('a[data-outline]').click(function(){

    var rerun_advanced_search = function(){
      if (jQuery('#search .tabs li a[data-search-form="advanced_search"].active').length == 1){
        jQuery("#advanced_search form input:submit").click();
      }
    }

    #{remote_function(:url => send("redraw_#{controller.controller_name}_path"), :with => "'outline=' + jQuery(this).data('outline') + '&query=' + $('query').value",:loading => "$('loading').show()", :complete => "$('loading').hide(); rerun_advanced_search();")}

    jQuery('a[data-outline]').removeClass('active');
    jQuery(this).addClass('active');
  });

