- model = entity.class.name.underscore
%details.idc-panel
  %summary #{t :permissions}
  %small#entity_permissions_intro.full-width
    = get_default_permissions_intro(entity.access, t("#{model}_small"))
  #entity_permissions.full-width
    .form-check
      = f.radio_button(:access, "Private", { onclick: "$('#people').hide()", class: 'form-check-input' })
      = f.label( :access_private, t(:keep_private), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = f.radio_button( :access, "Public", {onclick: "$('#people').hide()", class: 'form-check-input'})
      = f.label( :access_public, t(:make_public), { style: "cursor:pointer", class: 'form-check-label' })
    .form-check
      = f.radio_button( :access, "Shared", {onclick: "$('#people').show()", class: 'form-check-input'})
      = f.label( :access_shared, t(:share_with), { style: "cursor:pointer", class: 'form-check-label' })

    #people{ hidden_if(entity.access != "Shared") }
      .form-group
        = f.label :user_ids, "#{t(:users)}:"
        = f.select(:user_ids, user_options, {}, { multiple: true, class: "custom-select" })
      .form-group
        = f.label :group_ids, "#{t(:groups)}:"
        = f.select(:group_ids, group_options, {}, { multiple: true, class: "custom-select" })

    - if entity.is_a?(Lead)
      .form-check
        = f.radio_button(:access, t(:campaign), { onclick: "$('#people').hide(); $('#lead_access_campaign').val('Campaign');", disabled: true, class: 'form-check-input'})
        %font{ id: :copy_permissions, color: :grey }
          = t(:copy_permissions, t(:campaign_small))
