- model_name = controller_name.singularize
- model_klass = model_name.camelcase.constantize
- current_sort_by = t("option_" + model_klass.sort_by_map.invert[@sort_by])

.title_tools
  #buttons
    = generate_view_buttons
  .sorting_options
    -# sort_by_displaying: Sort {{models}} by {{field}} displaying first name {{position}} last name.
    = t(:sort_by, :models => t(:"#{controller_name}_small"), :field => link_to(current_sort_by, "#", :id => :sort_by)).html_safe
  .create_asset
    = link_to_inline("create_#{model_name}".to_sym, send("new_#{model_name}_path"), :text => t("create_#{model_name}".to_sym))

.title
  %span{:id => "create_#{model_name}_title"} #{t controller_name.to_sym}
  = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
