- partial = params[:assets].singularize

- if @attached
  - if partial == "task"
    - if @connected_object.completed?
      - view = "completed"
    - elsif @connected_object.my?(current_user)
      - view = "pending"
    - else
      - view = "assigned"
    jQuery('#tasks').prepend('#{ j render(:partial => "tasks/#{view}", :collection => [ @connected_object ], :locals => { :bucket => @connected_object.computed_bucket }) }');


  - else
    jQuery('##{h params[:assets]}').prepend('#{ j render(:partial => "#{params[:assets]}/#{partial}", :collection => [ @connected_object ]) }');
    - if called_from_landing_page?(:accounts)
      = refresh_sidebar_for(:accounts, :show, :summary)
    - elsif called_from_landing_page?(:campaigns)
      = refresh_sidebar_for(:campaigns, :show, :summary)

jQuery('##{partial}_#{h params[:asset_id]}').effect("highlight", { duration:1500 });
