<div class="standalone">
  <% form_for @authentication, :url => authentication_path do |f| %>
    <div class="title_menu">
      Don't have an account? <%= link_to 'Sign Up Now!', signup_path %>
    </div>
    <div class="title">
      Login
    </div>
    
    <%= f.error_messages.blank? ? "" : "Invalid username or password" %>
    <div class="section">
      
      <!-- Username/password Login Form -->
      <div id="login"<%= @authentication.openid_identifier.blank? ? "" : %/ style="display:none;"/ %>>
        <div class="label">
          Username: 
          or <%= link_to_function "login using OpenID", %/$("login").toggle(); $("openid").toggle();/ %>
        </div>
        <%= f.text_field :username, :style => "width:355px" %>
        <div class="label">
          Password:
        </div>
        <%= f.password_field :password, :style => "width:355px" %>
      </div>

      <!-- OpenID Login Form -->
      <div id="openid"<%= @authentication.openid_identifier.blank? ? %/ style="display:none;"/ : "" %>>
        <div class="label">
          OpenID: 
          or <%= link_to_function "login using username and password", %/$("login").toggle(); $("openid").toggle();/ %>
        </div>
        <%= f.text_field :openid_identifier, :style => "width:355px" %>
      </div>

      <div class="label">
        <div class="check_box">
          <%= f.check_box :remember_me %> Remember me
        </div>
      </div>
      
    </div>
    
    <div class="buttonbar">
      <%= f.submit "Login" %> or <%= link_to "Forgot password?", new_password_path %>
    </div>
    
  <% end %>
</div>