= content_for(:javascript_epilogue) do
  :plain
    document.observe("dom:loaded", function() {
      new Effect.Move("standalone", { x:0, y:-16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
        new Effect.Move("standalone", { x:0, y:16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
          new Effect.Move("standalone", { x:0, y:-8, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
            new Effect.Move("standalone", { x:0, y:8, mode:"relative", fps:100, duration:0.15 });
          }});
        }});
      }});
    });

.standalone#standalone
  -# The following form gets submitted to #create when @authentication is nil,
  -# or to #update when @authentication is not nil (ex. suspended).
  - form_for @authentication, :url => authentication_path, :html => one_submit_only(:authentication) do |f|
    - if can_signup?
      .title_tools #{t :no_account} #{link_to t(:sign_up_now), signup_path}
    .title= t(:login)
    .section
      .label= t(:username) + ':'
      = f.text_field :username
      .label= t(:password) + ':'
      = f.password_field :password

    %div(style="margin-left:12px") #{f.check_box(:remember_me)} #{t :remember_me}
    %br
    .buttonbar
      = f.submit t(:login)
      #{t :or} 
      = link_to t(:forgot_password) << '?', new_password_path
