<div style="width:480px; margin: auto;">
<div class="standalone">
  <% form_for @authentication, :url => authentication_path do |f| %>
    <div class="title_menu">
      Don't have an account? <%= link_to 'Sign Up Now!', signup_path %>
    </div>
    <div class="title">
      Login
    </div>
    
    <%= f.error_messages.blank? ? "" : "Invalid username or password" %>
    <div class="section">
      
      <!-- Username/password Login Form -->
      <div id="login"<%= @authentication.openid_identifier.blank? ? "" : %/ style="display:none;"/ %>>
        <div class="label">
          Username:
        </div>
        <%= f.text_field :username, :style => "width:355px; font-size:1.3em" %>
        <div class="label">
          Password:
        </div>
        <%= f.password_field :password, :style => "width:355px; font-size:1.3em" %>
      </div>

      <!-- OpenID Login Form -->
      <div id="openid"<%= @authentication.openid_identifier.blank? ? %/ style="display:none;"/ : "" %>>
        <div class="label">
          OpenID: 
        </div>
        <%= f.text_field :openid_identifier, :style => "width:355px; font-size:1.3em" %>
      </div>

      <div class="label">
        <div class="check_box">
          <%= f.check_box :remember_me %> Remember me
        </div>
      </div>
      
    </div>
    
    <div class="buttonbar">
      <%= f.submit "Login", :style => "font-size:1.2em" %> or <%= link_to "Forgot password?", new_password_path %>
    </div>
    
  <% end -%>
</div>
<small id="login_link">
  <%= link_to_function "Login using OpenID", %/$("login").toggle(); $("openid").toggle(); $("login_link").toggle(); $("openid_link").toggle(); $('authentication_openid_identifier').focus()/ %>
</small>
<small id="openid_link" style="display:none">
  <%= link_to_function "Login using username and password", %/$("login").toggle(); $("openid").toggle(); $("login_link").toggle(); $("openid_link").toggle(); $('authentication_username').focus()/ %>
</small>
<div>
