.standalone
  -# The following form gets submitted to #create when @authentication is nil,
  -# or to #update when @authentication is not nil (ex. suspended).
  - form_for @authentication, :url => authentication_path do |f|
    .title_tools== Don't have an account? #{link_to 'Sign Up Now!', signup_path}
    .title Login
    .warn= "Invalid username or password" unless f.error_messages.blank?
    .section
      .label Username:
      = f.text_field :username
      .label Password:
      = f.password_field :password
    .label
      .check_box
        = f.check_box(:remember_me) << " Remember me"

    .buttonbar
      = f.submit "Login"
      or 
      = link_to "Forgot password?", new_password_path
