.title
  %span#contacts_import_title Import Contacts
  = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

= simple_form_for(:imports, :html => {:multipart => true, :onsubmit => "$$('#'+this.id+' input[type=\"submit\"]')[0].disabled = true"}, :url => {:action => "import"}) do |f|
  = f.error_messages :object_name => "contact"
  <br/>
  %h4
    Intructions: 
  %p
    = "1. Download this #{link_to "template file", '/templates/contact-import-template.csv'} (right-click, save as...)".html_safe
  %p
    2. Fill it in
  %p
    3. Upload it below
  %p
    = f.file_field :attached_file
  .buttonbar
    = f.submit "Import", :name => "send"