.remote
  = form_for(@user, :html => one_submit_only(:user), :remote => true) do |f|
    = link_to_close edit_user_path(@user)

    = f.error_messages :object_name => t('user')

    .section
      %table
        %tr
          %td
            .label.top #{t :first_name}:
            = f.text_field :first_name
          %td= spacer
          %td
            .label.top #{t :last_name}:
            = f.text_field :last_name
        %tr
          %td
            .label.top #{t :job_title}:
            = f.text_field :title
          %td= spacer
          %td
            .label.top #{t :company}:
            = f.text_field :company
    .subtitle #{t :contact_info}
    .section
      %table
        %tr
          %td{ :colspan => 3 }
            .label.top.req #{t :email}:
            = f.text_field :email
          %td= spacer
          %td{ :colspan => 3 }
            .label.top #{t :alt_email}:
            = f.text_field :alt_email
        %tr
          %td{ :colspan => 3 }
            .label #{t :phone}:
            = f.text_field :phone
          %td= spacer
          %td{ :colspan => 3 }
            .label #{t :mobile}:
            = f.text_field :mobile
        %tr
          %td
            .label #{t :aim}:
            = f.text_field :aim, :style => "width:112px"
          %td= spacer
          %td
            .label #{t :yahoo}:
            = f.text_field :yahoo, :style => "width:112px"
          %td= spacer
          %td
            .label #{t :google}:
            = f.text_field :google, :style => "width:112px"
          %td= spacer
          %td
            .label #{t :skype}:
            = f.text_field :skype, :style => "width:112px"

    .buttonbar
      = f.submit t :save_profile
      #{t :or}
      = link_to_cancel edit_user_path(@user)

  = hook(:profile_user_bottom, self)
%br
