.standalone
  - form_for(@user, :html => one_submit_only(:user)) do |f|
    .title_tools== Already signed up? #{link_to "Login Now!", login_path}
    .title Sign Up
    = f.error_messages
    .section
      .label Email:
      = f.text_field :email
      .label Username:
      = f.text_field :username
      .label Password:
      = f.password_field :password
      .label Password confirmation:
      = f.password_field :password_confirmation

    .buttonbar
      = f.submit "Sign Up"
