= styles_for :opportunity

%ul
  - if @users.any?
    = render :partial => "user_report", :collection => @users
  - else
    #{t :no_users_found_with_assigned_opportunities}
  - if @unassigned_opportunities.any?
    %li
      .title
        %span#title
          = t(:unassigned_opportunities)
      %ul.list#opportunities
        = render :partial => "opportunity", :collection => @unassigned_opportunities