.standalone
  = form_for(@user, :url => password_path(params[:id]), :html => one_submit_only(:user), :method => :put) do |f|
    .title #{t :reset_password}

    = f.error_messages :object_name => t('password')

    .intro #{t :confirm_password_intro}
    .section
      .label #{t :new_password}:
      = f.password_field :password
      .label #{t :password_confirmation}:
      = f.password_field :password_confirmation
    %br
    .buttonbar
      = f.submit t(:update_password_and_login)
