- address_type = type.to_s.camelize
- address_attr = "#{type}_address"
- address = get_address(asset, address_attr)

- same_as_billing ||= false

= f.fields_for(address_attr.to_sym) do |a|
  = a.hidden_field :address_type, value: address_type
  - unless Setting.compound_address
    - if same_as_billing
      %div
        %span(style="float:right")
          = link_to_function(t(:same_as_billing), "crm.copy_address('account_shipping_address', 'account_billing_address')")
        .label #{t title}:
    - else
      .label #{t title}:
    = a.text_area :full_address, style: "width:240px", rows: 4
  - else
    .form-group
      - if same_as_billing
        %div
          %span(style="float:right")
            = link_to_function(t(:same_as_billing), "crm.copy_compound_address('account_billing_address', 'account_shipping_address')")
          .label #{t title}:
      - else
        .label #{t title}:
      %label #{t :street1}
      = address_field(a, :street1)
    .form-group
      %label #{t :street2}
      = address_field(a, :street2)
    .form-group
      %label #{t :city}
      = address_field(a, :city)
    .form-group
      %label #{t :state}
      = address_field(a, :state)
    .form-group
      %label #{t :zipcode}
      = address_field(a, :zipcode)
    .form-group
      %label #{t :country}
      = a.country_select(:country, priority_countries, { include_blank: "" }, {:"data-placeholder" => t(:select_a_country), class: 'form-control'})
