- address_attr = "#{type}_address"
- address = get_address(asset, address_attr)
- title ||= nil

- unless address.blank?
  - if Setting.compound_address
    %div
      - if title
        %div #{t title}
      = h address.street1
      - unless address.street2.blank?
        = h address.street2
      = h "#{address.city}, #{address.state} #{address.zipcode}"
      - unless address.country.blank?
        = h address.country
  - else
    %div
      %div #{t title}
      = h(address.full_address).n2br
