- asset = controller_name.singularize
- f.object.tags = unsaved_param_tags(asset) if params[asset] and params[asset][:tag_list]
- field_groups = {}

- f.object.class.custom_fields.group_by(&:field_group_id).each do |field_group_id, fields|

  - field_group = FieldGroup.find(field_group_id)
  - tag = f.object.tags.detect { |tag| tag.id == field_group.tag_id }

  - next unless tag.present? or field_group.tag_id.nil?

  - collapsed = session[field_group.key].nil?
  - container_id = "#{field_group.key}_container"
  - field_groups[tag.name.downcase] = container_id
  %div{ :id => container_id }
    = subtitle field_group.key, collapsed, field_group.name
    .section
      %small{ hidden_if(!collapsed).merge(:id => "#{field_group.key}_intro") }
      %div[field_group]{ hidden_if(collapsed) }
        %table
          - fields.sort_by(&:position).in_groups_of(2) do |group|
            %tr
              %td
                - if (field = group[0])
                  = f.input field.name, field.input_options
              %td
                = spacer
              %td
                - if (field = group[1])
                  = f.input field.name, field.input_options

:javascript
  // if fbtaglist is initialized..
  if (fbtaglist) {
    crm.set_tag_list_event('#{controller_name}', '#{asset}', '#{params[:id]}');
    // Reset 'loadedSupertagForms' hash.
    loadedFieldGroups = $H(#{field_groups.to_json});
  }
