- @lists = List.all
- @list = List.new
.panel#lists
  .caption #{t :lists}
  %ul
    - if @lists.any?
      - @lists.sort.each do |list|
        %li{ :class => list != @lists.last ? "" : "last" }
          %dt= link_to(truncate(list.name, :length => 19), list.url, :title => list.name)
          %tt= image_tag("/assets/tab_icons/#{list.controller}_active.png", :class => "list_icon")

    - else
      %div #{t :no_saved_lists}


  .show_lists_save_form{ hidden_if(!params[:q]) }
    = link_to(t(:make_current_view_list), '#')

  .save_list{ hidden }
    = simple_form_for(@list, :html => one_submit_only(:list), :remote => true) do |f|
      = f.text_field :name
      = f.hidden_field :url
      %br
      = f.submit(t(:save), :id => "save_list", :style => "vertical-align: bottom;")
      #{t :or}
      = link_to(t(:cancel), '#', :class => "hide_lists_save_form")
