.subtitle= link_to_function "<small>&#9660;</small> Contact Information", %w/$("contact_intro").toggle(); $("contact").toggle()/
.section
  #contact_intro{ hidden_if(!@lead.errors.empty?) }
    You can add contact information later.
  #contact{ hidden_if(@lead.errors.empty?) }
    %table{ :border => 0, :width => 500, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td{ :valign => :top }
          .label Title:
          = f.text_field :title, :style => "width:240px"
        %td= spacer
        %td{ :valign => :top }
          .label Company:
          = f.text_field :company, :style => "width:240px"
      %tr
        %td{ :valign => :top }
          .label Alternative Email:
          = f.text_field :alt_email, :style => "width:240px"
        %td= spacer
        %td{ :valign => :top }
          .label Mobile:
          = f.text_field :mobile, :style => "width:240px"
      %tr
        %td{ :valign => :top }
          .label Address:
          = f.text_area :address, :style =>"width:240px", :rows => 4
        %td= spacer
        %td{ :valign => :top }
          .label Referred by:
          = f.text_field :referred_by, :style => "width:240px"
          %div{:style => "margin-top:6px"}
            .check_box
              = f.check_box :do_not_call, {}, @lead.do_not_call
              Do not call



