.remote
  - remote_form_for(@lead, :url => promote_lead_path(@lead), :html => one_submit_only(:lead)) do |f|
    = link_to_close convert_lead_path(@lead)
    - fields_for(@account) do |a|
      = a.hidden_field :user_id
      = a.hidden_field :access
      = error_messages_for :account, :opportunity
      .section
        %small
          #{t(:convert_lead_text, @lead.full_name)}
        %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
          %tr
            %td{ :valign => :top }
              .label.req
                #{t :account}
                %span#account_selector
              = collection_select :account, :id, @accounts, :id, :name, { :selected => @account.id || 0 }, { :style => "width:330px; display:none;" }
              = a.text_field :name, :style => "width:324px; display:none;"
            %td= spacer
            %td{ :valign => :top }
              .label.req #{t :assigned_to}:
              = collection_select :account, :assigned_to, @users, :id, :full_name, { :include_blank => t(:myself) }, { :style => "width:160px" }
    = render :partial => "leads/opportunity"
    = render :partial => "leads/convert_permissions"
    .buttonbar
      = f.submit t(:convert_lead)
      #{t :or}
      = link_to_cancel convert_lead_path(@lead)
  
