- remote_form_for(@lead, :html => one_submit_only(:lead)) do |f|
  = link_to_close new_lead_path
  = hidden_field_tag "campaign", "#{@campaign.id if @campaign}"
  = hidden_field_tag "lead[user_id]", @current_user.id
  = f.error_messages
  = render :partial => "leads/top_section", :locals => { :f => f }
  = render :partial => "leads/status",      :locals => { :f => f }
  = render :partial => "leads/contact",     :locals => { :f => f }
  = render :partial => "leads/web",         :locals => { :f => f }
  = render :partial => "leads/permissions", :locals => { :f => f }
  .buttonbar
    = f.submit t :create_lead
    #{t :or}
    = link_to_cancel new_lead_path
