.remote
  - remote_form_for(@lead, :html => one_submit_only(:lead)) do |f|
    = link_to_close edit_lead_path(@lead)
    = f.hidden_field :user_id
    = f.error_messages
    = render :partial => "leads/top_section", :locals => { :f => f, :edit => true }
    = render :partial => "leads/status",      :locals => { :f => f, :edit => true }
    = render :partial => "leads/contact",     :locals => { :f => f, :edit => true }
    = render :partial => "leads/web",         :locals => { :f => f, :edit => true }
    = render :partial => "leads/permissions", :locals => { :f => f, :edit => true }
    .buttonbar
      = f.submit t :save_lead
      #{t :or}
      = link_to_cancel edit_lead_path(@lead)
