%li[lead]{ highlightable(dom_id(lead, :tools)) }
  - if lead.status
    .strip{:class => lead.status}= Setting.lead_status[lead.status.intern]
  - else
    .strip{:style => "color:white;"} Other
  = gravatar_for(lead, :size => "30x30", :default => "#{request.protocol + request.host_with_port}/images/avatar.jpg")
  %div
    .tools{ hidden, :id => dom_id(lead, :tools) }
      %small
        = (link_to("Convert", convert_lead_path(lead)) << " | ") if lead.status != "converted"
        = link_to("Edit", lead_path(lead)) << " | "
        = link_to_remote("Delete!", :url => lead_path(lead), :method => :delete, :before => visual_effect(:highlight, dom_id(lead), :startcolor => "#afeeee"))
      &nbsp;
    = link_to(lead.full_name, lead)
    %tt
      - if lead.company? && lead.title?
        = lead.title << " at " << lead.company
      - else
        = lead.company if lead.company?
      /= link_to(lead.campaign.name, lead.campaign) if lead.campaign_id
      = "&ndash; referred by #{lead.referred_by}" if lead.referred_by?
    %dt
      = link_to(lead.email, "mailto:" << lead.email.to_s) << " | " if lead.email?
      = "phone: " + lead.phone  << " | " if lead.phone?
      = "mobile: " + lead.mobile << " | " if lead.mobile?
      == added #{time_ago_in_words(lead.created_at)} ago
