%p
  = link_to_close options_leads_path
  = hidden_field_tag "lead[user_id]", @current_user.id
  == #{t(:sort_by, t(:leads_small))} #{link_to(@sort_by, "#", :id => :sort_by, :text => t(@sort_by + '_sort'))}
  == #{t:displaying} #{t:first_name_show} #{link_to(@naming, "#", :id => :naming)} #{t:last_name_show}.
  == #{t:show} #{link_to(@per_page, "#", :id => :per_page)} #{t:lead_records} #{t:per_page}
  == #{t:using} #{link_to(@outline, "#", :id => :outline, :text => t(@outline))} #{t:format}.
%p

%script
  = render :partial => "common/naming"
  = render :partial => "sort_by"
  = render :partial => "common/per_page"
  = render :partial => "common/outline"
