.filters#filters
  = render "common/search"
  - Setting.lead_status.each do |key|
    .check_box{:style => "border-bottom: 1px silver dotted;"}
      %div{:style => "float:right;"}
        = @lead_status_total[key]
      = lead_status_checbox(key, @lead_status_total[key])
      = label_tag(key, t(key))

  .check_box{:style => "border-bottom: 1px silver dotted;"}
    %div{:style => "float:right;"}
      = @lead_status_total[:other]
    = lead_status_checbox("other", @lead_status_total[:other])
    = label_tag(:other, t(:other))

  .check_box
    %div{:style => "float:right;"}
      %b= @lead_status_total[:all]
    %b #{t :total_leads}
  = hook(:index_lead_sidebar_bottom, self)
