.filters#filters
  = render :partial => "common/search"
  - Setting.lead_status.each do |key|
    .check_box{:style => "border-bottom: 1px silver dotted;"}
      %div{:style => "float:right;"}
        = @lead_status_total[key]
      = lead_status_checbox(key, @lead_status_total[key]) << " " << t(key)

  .check_box{:style => "border-bottom: 1px silver dotted;"}
    %div{:style => "float:right;"}
      = @lead_status_total[:other]
    = lead_status_checbox("other", @lead_status_total[:other]) << " " << t(:other)

  .check_box
    %div{:style => "float:right;"}
      %b= @lead_status_total[:all]
    %b #{t :total_leads}
