- content_for :javascript_epilogue do
  :plain
    function flip_campaign_permissions(value) {
      if (value) {
        $("lead_access_campaign").enable();
        $("lead_access_campaign").checked = 1;
        $("copy_permissions").style.color = "#3f3f3f";
      } else {
        $("lead_access_campaign").disable();
        $("copy_permissions").style.color = "grey";
        $("lead_access_private").checked = 1;
      }
    }

- collapsed = (@lead.errors.empty? && session[:lead_status].nil?)
= subtitle :lead_status, collapsed
.section
  %small#lead_status_intro{ hidden_if(!collapsed) }
    You can add lead status information later.
  #lead_status{ hidden_if(collapsed) }
    %table{ :border => 0, :width => 500, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td{ :valign => :top }
          .label.top Assigned to:
          = collection_select :lead, :assigned_to, @users, :id, :full_name, { :include_blank => "Myself" }, { :style => "width:160px" }
        %td= spacer
        %td{ :valign => :top }
          .label.top Status:
          = f.select :status, Setting.lead_status.invert.sort, { :selected => :new }, { :style => "width:160px" }
        %td= spacer
        %td{ :valign => :top }
          .label.top Source:
          = f.select :source, Setting.lead_source.invert.sort, { :include_blank => "-- None --" }, { :style => "width:160px" }
      %tr
        %td{ :valign => :top }
          .label Rating:
          = rating_select "lead[rating]", { :id => :lead_rating, :style => "width:100%" }
        %td= spacer
        %td{ :valign => :top, :colspan => 3 }
          .label Campaign:
          = collection_select :lead, :campaign_id, @campaigns, :id, :name, { :include_blank => "-- None --" }, { :style => "width:100%", :onchange => "flip_campaign_permissions(this.value)" }
