.subtitle= subtitle :status, "Lead Status"
.section
  #status_intro{ hidden_if(!@lead.errors.empty?) }
    %small You can add lead status information later.
  #status{ hidden_if(@lead.errors.empty?) }
    %table{ :border => 0, :width => 500, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td{ :valign => :top }
          .label.top Assigned to:
          = collection_select :lead, :assigned_to, @users, :id, :full_name, { :include_blank => "Myself" }, { :style => "width:160px" }
        %td= spacer
        %td{ :valign => :top }
          .label.top Status:
          = f.select :status, Setting.lead_status.invert.sort, { :selected => :new }, { :style => "width:160px" }
        %td= spacer
        %td{ :valign => :top }
          .label.top Source:
          = f.select :source, Setting.lead_source.invert.sort, { :include_blank => "-- None --" }, { :style => "width:160px" }
      %tr
        %td{ :valign => :top }
          .label Rating:
          = rating_select "lead[rating]", { :id => :lead_rating, :style => "width:100%" }
        %td= spacer
        %td{ :valign => :top, :colspan => 3 }
          .label Campaign:
          = collection_select :lead, :campaign, @campaigns, :id, :name, { :include_blank => "-- None --" }, { :style => "width:100%" }
          / 
          / <select style="width:100%;">
          / <option id="1">-- None --
          / </select>
      %tr
        %td{ :valign => :top, :colspan => 5 }
          .label Notes:
          = f.text_area :notes, :style => "width:500px", :rows => 2
