= hook(:lead_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.top.req #{t :first_name}:
          = f.text_field :first_name
        %td= spacer
        %td
          .label.top.req #{t :last_name}:
          = f.text_field :last_name
      %tr
        %td
          .label #{t :email}:
          = f.text_field :email
        %td= spacer
        %td
          .label #{t :phone}:
          = f.text_field :phone

      - if Setting.background_info && Setting.background_info.include?(:lead)
        %tr
          %td(colspan="3")
            .label= t(:background_info) << ':'
            = f.text_area :background_info, :style =>"width:500px", :rows => 3

      = hook(:lead_top_section_bottom, self, :f => f)
