%details.idc-panel
  %summary #{t :web_presence}
  %small#lead_presence_intro.full-width
    = t(:intro, t(:web_presence_small))
  .idc-form-group#lead_presence
    .form-group.one-third
      %label #{t :blog}:
      = f.text_field(:blog, {class: 'form-control'})
    .form-group.one-third
      %label #{t :twitter}:
      = f.text_field(:twitter, {class: 'form-control'})
    .form-group.one-third
      %label #{t :linked_in}:
      = f.text_field(:linkedin, {class: 'form-control'})
    .form-group.one-half
      %label #{t :facebook}:
      = f.text_field(:facebook, {class: 'form-control'})
    .form-group.one-half
      %label #{t :skype}:
      = f.text_field(:skype, {class: 'form-control'})
        
        

