- content_for :javascript do
  :javascript
    function submit_form() {
      // Empty selected account value if the dropdown is not visible.
      if (!$("account_id").visible()) {
        var index = $("account_id").selectedIndex;
        $("account_id")[index].value = "";
      }
      // Propagate contact[access] to the account and account[assigned_to] to the contact.
      $("account_assigned_to").value = $F("contact_assigned_to");
      $("contact_access").value = $F("account_access");
    }

- content_for :javascript_epilogue do
  <script type="text/javascript">
  - if !@account.id.blank?
    crm.select_account();
  - else
    crm.create_account();
  </script>

.form
  - form_for(@lead, :url => promote_lead_path(@lead)) do |f|
    - fields_for(@account) do |a|
      = a.hidden_field :user_id
      = a.hidden_field :access
      .title== Convert #{@lead.full_name}
      = error_messages_for :account, :opportunity
      .section
        %small
          == Congratulations! By converting the lead #{@lead.full_name} will become a contact associated with 
          the existing or newly created account. Lead status will be automatically set to converted.
        %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
          %tr
            %td{ :valign => :top }
              .label.req
                Account
                %span#account_selector
              = collection_select :account, :id, @accounts, :id, :name, { :selected => @account.id || 0 }, { :style => "width:330px; display:none;" }
              = a.text_field :name, :style => "width:324px; display:none;"
            %td= spacer
            %td{ :valign => :top }
              .label.req Assigned to:
              = collection_select :account, :assigned_to, @users, :id, :full_name, { :include_blank => "Myself" }, { :style => "width:160px" }
    = render :partial => "opportunity"
    = render :partial => "convert_permissions"
    .buttonbar
      = f.submit "Convert Lead", :onclick => "submit_form()"
      or
      = link_to "Cancel", leads_url

