= styles_for :lead

.title_tools
  = link_to_inline(:create_lead, new_lead_path, :text => t(:create_lead)) << " | "
  - if Setting.advanced_search_enabled
    = link_to_inline(:advanced_search, advanced_search_leads_path, :text => t(:advanced_search)) << " | "
  = link_to_inline(:options, options_leads_path, :text => t(:options))

.title
  %span#create_lead_title #{t :leads}
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#options{ hidden }
.remote#advanced_search{ hidden_if(!params[:q]) }
  - if @search
    = render :partial => "advanced_search"
.remote#create_lead{ hidden }

.list#leads
  - if @leads.any?
    = render @leads
  - else
    = render "shared/empty"

#paginate= render "shared/paginate"
#export= render "shared/export"
