= styles_for :lead

= inline :create_lead, new_lead_path
.title
  %span#title Leads
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#options{ hidden }
.remote#create_lead{ hidden }

.list#leads
  - unless @leads.empty?
    = render :partial => "lead", :collection => @leads
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"
