- content_for :styles do
  %style
    - Setting.lead_status_color.each do |key, value|
      == .#{key} { background:#{value}; }

.title_menu= link_to "Create New Lead", new_lead_path
.title Leads

.list#list
  - unless @leads.empty?
    = render :partial => "lead", :collection => @leads
  - else
    %div== You don't have any leads yet. Feel free to #{link_to("create new lead", new_lead_path)}.
