- entity_name = controller.controller_name.singularize # account
- create_id = "create_#{entity_name}"

crm.flick('empty', 'toggle');
crm.flip_form('#{create_id}');

- unless params[:cancel].true?
  $('##{create_id}').html('#{ j render(:partial => "new") }');
  crm.set_title('#{create_id}', '#{ j t(create_id) }');
- else
  crm.set_title('#{create_id}', '#{ j t(entity_name.pluralize) }');
