= styles_for :campaign

#confirm{ hidden }
.title_tools#menu
  - if @lead.status != "converted"
    = link_to_inline(dom_id(@lead), convert_lead_path(@lead), "Convert", :convert_lead) + " | "
  = link_to_inline(dom_id(@lead), edit_lead_path(@lead), "Edit", :edit_lead) + " | "
  = link_to_function("Delete?", confirm_delete(@lead))
.title{:id => dom_id(@lead, :title)}= @lead.full_name

%div[@lead]{ hidden }

= render :partial => "common/new_comment", :locals => { :commentable => @lead }
= render :partial => "common/comment", :collection => @lead.comments

-#-----------------------------------------------------------------------------
%br
= inline :create_task, new_task_path, { :class => "subtitle_tools", :related => dom_id(@lead) }
.subtitle#create_task_title Tasks
.remote#create_task{ hidden }
.log#tasks
  - if @lead.tasks.my(@current_user).pending.any?
    = render :partial => "tasks/pending", :collection => @lead.tasks.my(@current_user).pending, :locals => { :bucket => nil }
  - if @lead.tasks.assigned.any?
    = render :partial => "tasks/assigned", :collection => @lead.tasks.assigned, :locals => { :bucket => nil }
  - if @lead.tasks.completed.any?
    = render :partial => "tasks/completed", :collection => @lead.tasks.completed, :locals => { :bucket => nil }
