= styles_for :campaign

#confirm{ hidden }
.title_menu#menu
  = link_to("Convert", convert_lead_path(@lead)) + " | "
  = link_to("Edit", edit_lead_path(@lead)) + " | "
  = link_to_function("Delete?", confirm_delete(@lead))
.title= @lead.full_name

= render :partial => "common/new_comment", :locals => { :commentable => @lead }
= render :partial => "common/comment", :collection => @lead.comments

%br
.subtitle#campaign Campaign
.list#campaigns
  - if @lead.campaign
    = render :partial => "campaigns/campaign", :collection => [ @lead.campaign ]
  - else
    %small Select or Create Campaign (not implemented yet).
