- content_for :styles do
  %style
    - Setting.campaign_status_color.each do |key, value|
      == .#{key} { background:#{value}; }

#confirm{ hidden }
.title_menu#menu
  = link_to("Convert", convert_lead_path(@lead)) + " | "
  = link_to("Edit", edit_lead_path(@lead)) + " | "
  = link_to_function("Delete?", confirm_delete(@lead))
.title= @lead.full_name

= render :partial => "common/new_comment", :locals => { :commentable => @lead }
= render :partial => "common/comment", :collection => @lead.comments
.list
  .subtitle Campaign
  = render :partial => "campaigns/campaign", :collection => [ @lead.campaign ]
