
= styles_for :task

#confirm{ hidden }
.title_tools#menu
  - unless %w(converted rejected).include?(@lead.status)
    = link_to_inline(:convert_lead, convert_lead_path(@lead), :text => t(:convert)) + " | "
  = link_to_inline(:edit_lead, edit_lead_path(@lead), :text => t(:edit)) + " | "
  - if @lead.status != "rejected"
    = link_to_function(t(:reject) + '?', confirm_reject(@lead)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@lead))
.title#title= h(@lead.full_name)

- if Setting.show_entity_details == true
  = render "leads/sections", :lead => @lead

%div#convert_lead{ hidden }
%div#edit_lead{ hidden }

= render "comments/new", :commentable => @lead
= render :partial => "shared/timeline", :collection => @timeline

= hook(:show_lead_bottom, self) do

  = render :partial => "tasks/tasks", :locals => {:object => @lead}

  = render :partial => "versions/versions", :locals => {:object => @lead}

  = load_select_popups_for(@lead, :tasks)
