- class_name = @email.mediator.class.name.downcase
- id_prefix = "#{class_name}_#{@email.mediator.id}"

$('##{id_prefix}_shown_emails').val('#{ j @email.mediator.email_ids.join(',') }');
$('##{dom_id(@email)}').css('background-color', '#ffe4e1').slideUp(250);
