%li.highlight[event]
  - unless event.category.blank?
    .strip{:class => event.category} #{t(event.category)}
  - else
    .strip{:style => "color: gray;"} #{t :other}

  %ul.tools
    = hook(:event_tools_before, self, :event => event)

    - if can?(:update, event)
      %li= link_to_edit(event)

    - if can?(:destroy, event)
      %li= link_to_delete(event)

  .indent
    = link_to(event.name, event)
    &ndash;
    %tt
      -#= event.location << ", " unless event.location.blank?
      = t(:added_by, :time_ago => time_ago_in_words(event.created_at), :user => (event.user.id == @current_user.id ? t(:me) : event.user.full_name)) << " | "
      -#= t('pluralize.contact', event.contacts.count) << " | "
      -#= t('pluralize.opportunity', event.opportunities.count)

      - if event.tag_list.present?
        %dt
          .tags= tags_for_index(event)

      = hook(:event_bottom, self, :event => event)
