= simple_form_for(@event, :html => one_submit_only(:event), :remote => true) do |f|
  = link_to_close new_event_path
  = f.hidden_field :user_id

  = f.error_messages :object_name => t('event')

  = render "events/top_section",  :f => f
  -#= render "events/contact_info", :f => f
  = render "fields/groups",  :f => f
  = render "entities/permissions",  :f => f, :entity => @event

  .buttonbar
    - if Setting.compound_address
      = f.submit t(:create_event), :onclick => "crm.clear_all_hints()"
    - else
      = f.submit t(:create_event)
    #{t :or}
    = link_to_cancel new_event_path

