= hook(:event_top_section, self, :f => f) do
  - repeats = false
  .section
    %table
      %tr
        %td(colspan="5")
          .label.top.req #{t :name}:
          = f.text_field :name, :style => "width:500px"
      %tr
        %td(colspan="5")
          .label #{t :location}:
          = f.text_field :location, :style => "width:500px"
      %tr
        - dfmt = '%d/%m/%Y' 
        - tfmt = '%I:%M%P'
        %td(colspan="5")
          .datetime
            %p.datepair
              = f.text_field :calendar_start_date, :style => "width:90px;", :autocomplete => :off, :class => 'date2 start'
              = f.text_field :calendar_start_time, :style => "width:90px;", :autocomplete => :off, :class => 'time2 start'
              = "&nbsp;&nbsp;".html_safe + 'to' +"&nbsp;&nbsp;".html_safe
              = f.text_field :calendar_end_time, :style => "width:90px;", :autocomplete => :off, :class => 'time2 end'
              = f.text_field :calendar_end_date, :style => "width:90px;", :autocomplete => :off, :class => 'date2 end'
      %tr{ :style => "padding-top:10px;"}
        %td(colspan="5")
          .label
          = check_box_tag :repeating_event, true, false, {:onclick => "crm.show_repeats(this.value);"}
          Repeats...
      %tr#repeats{ hidden_if(!repeats) }
        %td
          .label
          = "Each week during "
          = f.select :semester, options_for_select([["Semester 1","S1"],["Semester 2","S2"]]), :style => "width:90px;display:inline;"
          
      %tr
        %td
          .label #{t :assigned_to}:
          = user_select(:contact, @users, current_user)
        %td= spacer
        %td
          .label #{t :category}:
          = f.select :category, Setting.unroll(:event_category), { :selected => (@event.category || "other").to_sym, :include_blank => t(:other) }, { :style => "width:160px" }
      %tr
        %td
          .label #{t :contact_group}:
          -#debugger
          = f.select :contact_group_id, ContactGroup.all.map{ |cg| [cg.name, cg.id]}, { :include_blank => t(:none) }, { :style => "width:160px", :class => 'chzn-select' }    
      - if Setting.background_info && Setting.background_info.include?(:event)
        %tr
          %td(colspan="5")
            .label= t(:background_info) << ':'
            = f.text_area :background_info, :style =>"width:500px", :rows => 3

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:event_top_section_bottom, self, :f => f)
