= styles_for :event

= render 'entities/title_bar'

.remote#create_event{ hidden }

= render "search"

.remote#options{ hidden }

.list#events
  - if @events.any?
    = render @events
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"