- edit ||= false
.idc-panel
  %h2.full-width
    Account Information
  .form-group.one-quarter
    %label #{t :username}:
    = f.text_field(:username, { class: 'form-control'})
  .form-group.one-quarter
    %label #{t :email}:
    = f.text_field(:email, { class: 'form-control'})
  .form-group.one-quarter
    %label #{t :password}:
    = f.password_field(:password, { class: 'form-control' })
  .form-group.one-quarter
    %label #{t :password_confirmation}:
    = f.password_field(:password_confirmation, { class: 'form-control' })
  .form-check.one-third
    = f.check_box(:admin, { disabled: edit && @user == current_user, class: 'form-check-input' })
    %label{for: 'user_admin', class: 'form-check-label'}
      = t(:user_is_admin)

.idc-panel
  %h2.full-width #{t :personal_information}
  .form-group.one-quarter
    %label #{t :first_name}:
    = f.text_field(:first_name, { class: 'form-control'})
  .form-group.one-quarter
    %label #{t :last_name}:
    = f.text_field(:last_name, { class: 'form-control'})
  .form-group.one-quarter
    %label #{t :job_title}:
    = f.text_field(:title, { class: 'form-control'})
  .form-group.one-quarter
    %label #{t :company}:
    = f.text_field(:company, { class: 'form-control'})

.idc-panel
  %h2.full-width #{t :group_memberships}
  .form-group.full-width
    %label #{t :groups}:
    = f.select :group_ids, FatFreeCrm::Group.all.map {|g| [g.name, g.id]}, {}, multiple: true, class: 'custom-select'
