= styles_for :user

.space-between.page-heading
  .title
    %h1#create_user_title #{t :users}
    = image_tag("loading.gif", size: :thumb, id: "loading", style: "display: none;")
  .title_tools
    = link_to_inline(:create_user, new_admin_user_path, { text: t(:create_user), class: 'btn btn-primary'})
  
.remote#create_user{ hidden }

%ul.list#users= render partial: "fat_free_crm/admin/users/user", collection: @users
#paginate= render "fat_free_crm/shared/paginate"
#export= render "fat_free_crm/shared/export"
