.confirm[@tag, :confirm]
  #{t :tag_confirm_delete}
  #{t :delete} <b>#{@tag.name}</b>?
  = link_to_delete(@tag) << " : "
  = link_to_function(t(:no_button), "crm.flick('#{dom_id(@tag, :confirm)}', 'remove')")
