= styles_for :tag

.title_tools
  = link_to_inline(:create_tag, new_admin_tag_path, text: t(:create_tag))

.title
  %span#create_tag_title #{t :tags}
  = image_tag("loading.gif", size: :thumb, id: "loading", style: "display: none;")
.remote#create_tag{ hidden }

.list#tags
  - if @tags.any?
    = render partial: "admin/tags/tag", collection: @tags
  - else
    = render "shared/empty"

- if Setting[:about_my_business].present? || Setting[:how_i_plan_to_use_ffcrm].present?
  .col-md-6
    = ai_prompt_link(t(:ai_prompt_tags))

#export= render "shared/export"
