%li.long.highlight[opportunity]
  .flex-container
    - if opportunity.stage
      .strip.badge.badge-primary{class: opportunity.stage}= t(opportunity.stage)
    - else
      .strip.badge.badge-light #{t :other}
    .tools
      - if can?(:update, opportunity)
        = link_to_edit(opportunity)
      - if shown_on_landing_page?
        = link_to_discard(opportunity)
      - if can?(:destroy, opportunity)
        = link_to_delete(opportunity)
  .flex-container
    = link_to_if can?(:read, opportunity), opportunity.name, opportunity
    - if (account = opportunity.account) && account.id
      %span
        == #{t :from} #{link_to_if can?(:read, account), account.name, account_path(account)}
    %span
      - user_name = opportunity.user.try(:full_name)
      - if user_name
        = t(:added_by, time_ago: opportunity.created_at, user: h(user_name)).html_safe
      - else
        = t(:added_ago, value: opportunity.created_at).html_safe
  
  %span
    = opportunity_revenue_message(opportunity, true)
    - if opportunity.tags.present?
      .tags= tags_for_index(opportunity)
  = hook(:opportunity_bottom, self, opportunity: opportunity)
