= styles_for :field

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_field, edit_admin_field_path(@field), text: "Edit") + " | "
.title#edit_field_title= @field.field_label

%div#edit_field{ hidden }

%tt
  %br
  Label:
  %b
    - if @field.field_label?
      = @field.field_label
  %br
  Name:
  %b
    - if @field.field_name?
      = @field.field_name
  %br
  Table:
  %b
    - if @field.table_name?
      = @field.table_name.pluralize
  %br
  Type:
  %b
    - if @field.field_type?
      = @field.field_type
  %br
  %br
  Created at:
  %b
    = @field.created_at.to_s
  %br
  Updated at:
  %b
    = @field.updated_at.to_s

= hook(:show_field_bottom, self) {}
