- gravatar_size = @current_user.preference[:contacts_outline] == "brief" ? "16x16" : "30x30"

%li[contact]{ highlightable(dom_id(contact, :tools)) }
  = gravatar_for(contact, :size => gravatar_size)

  .tools{ invisible, :id => dom_id(contact, :tools) }
    = link_to_edit(contact) + " | "
    = link_to_delete(contact) + "&nbsp;"

  .indentslim
    = link_to(h(contact.full_name(@current_user.preference[:contacts_naming])), contact)
    %tt
      - if contact.title? && contact.department?
        = h(contact.title) << ", " << h(contact.department)
      - else
        = h(contact.title) if contact.title?
      - if contact.account && contact.account.name?
        == #{t :at} #{link_to h(contact.account.name), account_path(contact.account)}
      = "&ndash; #{t :referred_by_small} #{contact.lead.referred_by}" if contact.lead and contact.lead.referred_by?
    - unless @current_user.preference[:contacts_outline] == "brief"
      %dt{ :style => "padding: 2px 0px 0px 0px" }
        = link_to(h(contact.email), "mailto:" << contact.email.to_s) << " | " if contact.email?
        = "#{t :phone_small}: <b>" + h(contact.phone) << "</b> | " if contact.phone?
        = "#{t :mobile_small}: <b>" + h(contact.mobile) << "</b> | " if contact.mobile?
        = t(:added_ago, time_ago_in_words(contact.created_at))
      = hook(:contact_bottom, self, :contact => contact)
