- gravatar_size = @current_user.preference[:contacts_outline] == "brief" ? "16x16" : "30x30"

%li[contact]{ highlightable(dom_id(contact, :tools)) }
  = gravatar_for(contact, :size => gravatar_size)

  .tools{ invisible, :id => dom_id(contact, :tools) }
    = link_to_edit(contact) + " | "
    = link_to_discard(contact) + " | " if shown_on_landing_page?
    = link_to_delete(contact)

  .indentslim
    = link_to(h(contact.full_name(@current_user.preference[:contacts_naming])), contact)
    %tt
      - if contact.title? && contact.department?
        = h(contact.title) << ", " << h(contact.department)
      - else
        = h(contact.title) if contact.title?
      - if contact.account && contact.account.name? && contact.account.name != contact.full_name
        == #{t :at} #{link_to h(contact.account.name), account_path(contact.account)}
      - if contact.lead and contact.lead.referred_by?
        &ndash;
        = #{t :referred_by_small} #{contact.lead.referred_by}"
    - unless @current_user.preference[:contacts_outline] == "brief"
      %dt{ :style => "padding: 2px 0px 0px 0px" }
        = link_to_email(contact.email) << " | " if contact.email.present?
        = "#{t :phone_small}: <b>" + h(contact.phone) << "</b> | " if contact.phone.present?
        = "#{t :mobile_small}: <b>" + h(contact.mobile) << "</b> | " if contact.mobile.present?
        = t(:added_ago, time_ago_in_words(contact.created_at))
      = hook(:contact_bottom, self, :contact => contact)
