- remote_form_for(@contact, :html => one_submit_only(:contact)) do |f|
  = link_to_close new_contact_path
  = hidden_field_tag "opportunity", "#{@opportunity.id if @opportunity}"
  = f.hidden_field :user_id
  = f.error_messages
  = render :partial => "contacts/top_section", :locals => { :f => f }
  = render :partial => "contacts/extra",       :locals => { :f => f }
  = render :partial => "contacts/web",         :locals => { :f => f }
  = render :partial => "contacts/permissions", :locals => { :f => f }
  .buttonbar
    = f.submit t(:create_contact), :onclick => %/$("account_assigned_to").value = $F("contact_assigned_to"); if ($("account_id").visible()) { $("account_id").enable(); }/
    #{t :or}
    = link_to_cancel new_contact_path
