.remote
  - remote_form_for(@contact) do |f|
    = link_to_close edit_contact_path(@contact)
    = f.hidden_field :user_id
    = f.error_messages
    = render :partial => "contacts/top_section", :locals => { :f => f, :edit => true }
    = render :partial => "contacts/extra",       :locals => { :f => f, :edit => true }
    = render :partial => "contacts/web",         :locals => { :f => f, :edit => true }
    = render :partial => "contacts/permissions", :locals => { :f => f, :edit => true }
    .buttonbar
      = f.submit "Save Contact", :onclick => %/$("account_assigned_to").value = $F("contact_assigned_to")/
      or
      = link_to_cancel edit_contact_path(@contact)
