.remote
  = form_for(@contact, :html => one_submit_only(:contact), :remote => true) do |f|
    = link_to_close edit_contact_path(@contact)
    = f.hidden_field :user_id

    = f.error_messages :object_name => t('contact')

    = render "contacts/top_section", :f => f, :edit => true
    = render "contacts/extra",       :f => f, :edit => true
    = render "contacts/web",         :f => f, :edit => true
    = render "contacts/permissions", :f => f, :edit => true
    .buttonbar
      = f.submit t(:save_contact), :onclick => "crm.save_contact()"
      #{t :or}
      = link_to_cancel edit_contact_path(@contact)
