- collapsed = session[:contact_show_extra].nil? # && contact.errors.empty?
= section :contact_show_extra, collapsed, t(:extra_info), t('show_extra_info_small')
.show_fields
  #contact_show_extra{ hidden_if(collapsed) }
    %table.asset_attributes
      %tr
        = col(t(:title), contact.title)
        = col(t(:department), contact.department)
      %tr
        = col(t(:alt_email), contact.alt_email, false, true)
        = col(t(:mobile), contact.mobile)
      %tr
        = col(t(:fax), contact.fax)
        = col(t(:do_not_call), contact.do_not_call == false ? "no" : "yes")
      %tr
        %th=t(:address) + ":"
        %td
          %div
            %strong= render "shared/address_show", :asset => contact, :type => 'business', :title => nil
      %tr
        %th= t(:web_presence)
        %td= web_presence_icons(contact)
        - if Setting.background_info && Setting.background_info.include?(:contact)
          = col(t(:background_info), contact.background_info)
      %tr
        = col(t(:permissions), (contact.permissions.empty? ? t(:shared_with_everyone) : contact.permissions.join(", ")), :last)
