- edit ||= false
- collapsed = session[:contact_extra].nil? # && @contact.errors.empty?
= subtitle :contact_extra, collapsed, t(:extra_info)
.section
  %small#contact_extra_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:extra_info_small)) unless edit
  #contact_extra{ hidden_if(collapsed) }
    %table
      = hook(:contact_extra_details_form, self, :f => f) do
        %tr
          %td
            .label #{t :job_title}:
            = f.text_field :title
          %td= spacer
          %td
            .label #{t :department}:
            = f.text_field :department
        %tr
          %td
            .label #{t :alt_email}:
            = f.text_field :alt_email
          %td= spacer
          %td
            .label #{t :mobile}:
            = f.text_field :mobile
        %tr
          %td
            = render "common/address", :f => f, :asset => @contact, :type => 'business', :title => :address
          %td= spacer
          %td
            .label #{t :fax}:
            = f.text_field :fax
            %div{:style => "margin-top:6px"}
              .check_box
                = f.check_box :do_not_call, {}, true
                #{t :do_not_call}
