%p
  = link_to_close options_contacts_path
  = hidden_field_tag "contact[user_id]", @current_user.id

  - current_sort_by = t("option_" + Contact.sort_by_map.invert[@sort_by])
  - current_outline = t("option_#{@outline}")

  #{t(:sort_by, t(:contacts_small))} #{link_to(current_sort_by, "#", :id => :sort_by)},
  #{t:displaying} #{t:first_name_show} #{link_to(@naming, "#", :id => :naming)} #{t:last_name_show}.
  #{t:show} #{link_to(@per_page, "#", :id => :per_page)} #{t:contact_records} #{t:per_page}
  #{t:using} #{link_to(current_outline, "#", :id => :outline)} #{t:format}.
%p

%script
  = render :partial => "common/naming"
  = render :partial => "sort_by"
  = render :partial => "common/per_page"
  = render :partial => "common/outline"
