%p
  = link_to_close options_contacts_path
  = hidden_field_tag "contact[user_id]", @current_user.id
  == Sort contacts by #{link_to(@sort_by, "#", :id => :sort_by)}
  == displaying first name #{link_to(@naming, "#", :id => :naming)} the last name.
  == Show #{link_to(@per_page, "#", :id => :per_page)} contact records per page
  == using #{link_to(@outline, "#", :id => :outline)} format.
%p

%script
  = render :partial => "common/naming"
  = render :partial => "sort_by"
  = render :partial => "common/per_page"
  = render :partial => "common/outline"
