- edit ||= false
- collapsed = session[:contact_permissions].nil? # && @contact.errors.empty?
= subtitle :contact_permissions, collapsed, t(:permissions)
.section
  %small#contact_permissions_intro{ hidden_if(!collapsed) }
    = t(:permissions_intro, t(:contact_small)) unless edit
  #contact_permissions{ hidden_if(collapsed) }
    .radio_box
      = f.radio_button :access, "Private", :onclick => "$('people').hide(); $('contact_access_private').value = 'Private'"
      #{t:keep_private}
    .radio_box
      = f.radio_button :access, "Public", :onclick => "$('people').hide(); $('contact_access_public').value = 'Public'"
      #{t:make_public}
    .radio_box
      = f.radio_button :access, "Shared", :onclick => "$('people').show(); $('contact_access_shared').value = 'Shared'"
      #{t:share_with}
    #people{ hidden_if(@contact.access != "Shared") }
      %div{ :style => "padding: 6px 0px 0px 20px" }
        - for user in @users
          .check_box
            -# Preserve state of the checkboxes if the form gets redrawn on errors.
            = check_box_tag "users[]", user.id, @contact.permissions.map(&:user_id).include?(user.id) || (params[:users] && params[:users].include?(user.id.to_s))
            = user.full_name
