.panel#summary
  %span{:style => "float:right"}= gravatar_for(@contact, :size => "50x50")
  %h4= h(@contact.full_name)
  - if !@contact.title.blank? && @contact.account
    -# works_at: "{{h(job_title)}} at {{h(company)}}"
    %div= t(:works_at, :job_title => h(@contact.title), :company => link_to(h(@contact.account.name), account_path(@contact.account))).html_safe
  - elsif !@contact.title.blank?
    %div= h(@contact.title)
  - elsif @contact.account
    %div= link_to(h(@contact.account.name), account_path(@contact.account))
  - unless @contact.department.blank?
    = t(:department_small, h(@contact.department))

  %div= render "common/address_show", :asset => @contact, :type => 'business', :title => :address

  %div
    - unless @contact.phone.blank?
      == #{t :phone}: <b>#{@contact.do_not_call ? content_tag(:strike, h(@contact.phone)) : h(@contact.phone)}</b><br />
    - unless @contact.mobile.blank?
      == #{t :mobile}: <b>#{@contact.do_not_call ? content_tag(:strike, h(@contact.mobile)) : h(@contact.mobile)}</b><br />
    - unless @contact.fax.blank?
      == #{t :fax}: <b>#{@contact.do_not_call ? content_tag(:strike, h(@contact.fax)) : h(@contact.fax)}</b><br />
  %div
    - unless @contact.email.blank?
      == #{t :email}: <b>#{link_to_email(@contact.email)}</b><br />
    - unless @contact.alt_email.blank?
      == #{t :alt_email_small}: <b>#{link_to_email(@contact.alt_email)}</b><br />

  = web_presence_icons(@contact)

  - unless @contact.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format h(@contact.background_info))

  = hook(:show_contact_sidebar_bottom, self, :contact => @contact)
