- edit ||= false
- collapsed = session[:contact_presence].nil? # && @contact.errors.empty?
= subtitle :contact_presence, collapsed, t(:web_presence)
.section
  %small#contact_presence_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:web_presence_small)) unless edit
  #contact_presence{ hidden_if(collapsed) }
    .form-group
      %label #{t :blog}:
      = f.text_field :blog, :class => 'form-control'
    .form-group
      %label #{t :twitter}:
      = f.text_field :twitter, :class => 'form-control'
    .form-group
      %label #{t :linked_in}:
      = f.text_field :linkedin, :class => 'form-control'
    .form-group
      %label #{t :facebook}:
      = f.text_field :facebook, :class => 'form-control'
    .form-group
      %label #{t :skype}:
      = f.text_field :skype, :class => 'form-control'
      
        

