= styles_for :contact

= render 'title_bar'

.remote#create_contact{ hidden }

= ransack_search_form :predicate_options => {:only => [:cont, :not_cont, :blank, :present, :null, :not_null, :matches, :does_not_match, :eq, :not_eq, :lt, :gt, :true, :false], :compounds => false}

.remote#options{ hidden }

.list#contacts
  - if @contacts.any?
    = render @contacts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
