= styles_for :contact

= image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

#buttons
  = render 'format_buttons'
  .create_asset
    = link_to_inline(:create_contact, new_contact_path, :text => t(:create_contact))

= render 'search'

.remote#create_contact{ hidden }

.remote#options{ hidden }

.list#contacts
  - if @contacts.any?
    = render @contacts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
