= styles_for :contact

= image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

#buttons
  = render 'format_buttons'
  .create_asset
    = link_to_inline(:create_contact, new_contact_path, :text => t(:create_contact))

#search
  .tabs
    %ul
      %li
        = link_to 'Basic Search', '#',    :"data-search-form" => "basic_search",    :class => (params[:q]  ? "" : " active")
      %li
        = link_to 'Advanced Search', '#', :"data-search-form" => "advanced_search", :class => (!params[:q] ? "" : " active")

  .search_form#basic_search{ hidden_if(params[:q]) }
    = render "basic_search"

  .search_form#advanced_search{ hidden_if(!params[:q]) }
    = render :partial => "advanced_search"


.remote#create_contact{ hidden }

.remote#options{ hidden }

.list#contacts
  - if @contacts.any?
    = render @contacts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate"
#export= render "shared/export"

:javascript
  var activate_search_form = function(search_form){
    // Hide all
    jQuery('#search .search_form').hide();
    jQuery('#search .tabs li a').removeClass('active');   
    // Show selected
    jQuery('#' + search_form).show();
    jQuery('a[data-search-form=' + search_form + ']').addClass('active');
  }

  jQuery("#search .tabs a").click(function(){ activate_search_form(jQuery(this).data('search-form')); });
