= styles_for :contact

= image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

#buttons
  = render 'format_buttons'
  .create_asset
    = link_to_inline(:create_contact, new_contact_path, :text => t(:create_contact))

#search
  .tabs
    %ul
      %li
        = link_to 'Basic Search', '#', :class => (params[:q] ? "" : "active")
      %li
        = link_to 'Advanced Search', '#', :class => (params[:q] ? "active" : "")

  .remote#basic_search{ hidden_if(params[:q]) }
    = render "basic_search"

  .remote#advanced_search{ hidden_if(!params[:q]) }
    - if params[:q]
      = render :partial => "advanced_search"


.remote#create_contact{ hidden }

.remote#options{ hidden }

.list#contacts
  - if @contacts.any?
    = render @contacts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate"
#export= render "shared/export"


