= styles_for :task, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_contact, edit_contact_path(@contact), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@contact))
.title#edit_contact_title= h(@contact.full_name)

%div#edit_contact{ hidden }

= render "comments/new", :commentable => @contact
= render :partial => "common/timeline", :collection => @timeline

= hook(:show_contact_bottom, self) do

  = section(@contact, :tasks)
  .log#tasks
    = render "common/tasks"

  = section(@contact, :opportunities)
  .list#opportunities
    - @opportunities = @contact.opportunities.paginate(:page => 1, :per_page => 20)
    = render :partial => "opportunities/opportunity", :collection => @contact.opportunities.paginate(:page => 1, :per_page => 20)
  = will_paginate @opportunities, :id => true, :params => {:action => :opportunities}

  = load_select_popups_for(@contact, :tasks, :opportunities)

