= styles_for :account, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to("Edit", edit_contact_path(@contact)) + " | "
  = link_to_function("Delete?", confirm_delete(@contact))
.title= @contact.full_name

= render :partial => "common/new_comment", :locals => { :commentable => @contact }
= render :partial => "common/comment", :collection => @contact.comments

%br
.subtitle#account Account
.list#accounts
  - if @contact.account
    = render :partial => "accounts/account", :collection => [ @contact.account ]
  - else
    %small Select or Create Account (not implemented yet).

%br
- @context = "create_opportunity_contacts_#{@contact.id}" # NOTE: pluralized contacts
- session[@context] = nil
= inline @context, new_opportunity_path, "Create Opportunity", { :class => "subtitle_tools" }
.subtitle{ :id => "#{@context}_title"} Opportunities

.remote{ hidden, :id => @context }
.list#opportunities
  = render :partial => "opportunities/opportunity", :collection => @contact.opportunities
