- if (template = template_for_current_view)
  = render(template, :contact => @contact)
- else

  -# default view

  = styles_for :task, :opportunity
  
  = render 'contacts/title_bar', :contact => @contact

  = render "comments/new", :commentable => @contact
  = render :partial => "shared/timeline", :collection => @timeline

  = hook(:show_contact_bottom, self) do

    = render :partial => "tasks/tasks", :locals => {:object => @contact}

  -#= render :partial => "opportunities/opportunities", :locals => {:object => @contact}
  
  = render :partial => "contact_groups/contact_groups", :locals => {:object => @contact}
  
  = render :partial => "attendances/attendances", :locals => {:object => @contact, :bsg_attendances => @bsg_attendances, :tbt_attendances => @tbt_attendances, :other_attendances => @other_attendances}
  
  = render :partial => "versions/versions", :locals => {:object => @contact}
  
  = load_select_popups_for(@contact, :tasks, :contact_groups)