%p Documents
%div
  = form_for(:document, {url: documents_path}) do |form|
    = form.hidden_field 'record_id', value: object.id.to_s
    = form.hidden_field 'record_klass', value: object.class
    = form.file_field :file
    = form.submit 'Upload', class: 'btn btn-primary'
%div
  %p List
  - @documents.each_with_index do |document, i|
    %strong>= i + 1
    \.#{document.created_at.strftime("Document Created on %m/%d/%Y")}
    %small= link_to 'download', rails_blob_path(document.file, disposition: "attachment")
    %small= link_to 'delete', document_path(document.id), method: :delete, data: { confirm: 'Are you sure?' }
    %br/
