%details.idc-panel
  %summary #{t :contact_info}
  %small#lead_contact_intro.full-width
    = t(:intro, t(:lead_info_small))
  .idc-form-group#lead_contact
    .form-group.one-quarter
      %label.top #{t :job_title}:
      = f.text_field(:title, {class: 'form-control'})
    .form-group.one-quarter
      %label.top #{t :company}:
      = f.autocomplete_field(:company, autocomplete_account_name_leads_path, {class: 'form-control'})
    .form-group.one-quarter
      %label #{t :alt_email}:
      = f.text_field(:alt_email, {class: 'form-control'})
    .form-group.one-quarter
      %label #{t :mobile}:
      = f.text_field(:mobile, {class: 'form-control'})
    = render "fat_free_crm/shared/address", f: f, asset: @lead, type: 'business', title: :address, :class => 'form-control'
    .form-group.one-quarter
      %label #{t :referred_by}:
      = f.text_field(:referred_by, {class: 'form-control'})
      .form-check
        = f.check_box(:do_not_call, { class: 'form-check-input'}, true)
        %label.form-check-label #{t :do_not_call}
