
= hook(:lead_top_section, self, f: f) do
  .idc-panel
    .form-group.one-quarter
      %label{ class: "#{Setting.require_first_names ? 'req' : nil}" } #{t :first_name}:
      = f.text_field :first_name, autofocus: true, :class => 'form-control'
    .form-group.one-quarter
      %label{ class: "#{Setting.require_last_names ? 'req' : nil}" } #{t :last_name}:
      = f.text_field :last_name, :class => 'form-control'
    .form-group.one-quarter
      %label #{t :email}:
      = f.text_field :email, :class => 'form-control'
    .form-group.one-quarter
      %label #{t :phone}:
      = f.text_field :phone, :class => 'form-control'

    - if Setting.background_info && Setting.background_info.include?(:lead)
      .form-group
        %label= t(:background_info) + ':'
        = f.text_area :background_info, class: 'form-control'

    = render partial: "/fat_free_crm/shared/tags", locals: {f: f}

    = hook(:lead_top_section_bottom, self, f: f)
