= styles_for :lead

= render 'fat_free_crm/entities/title_bar'

.remote#create_lead{ hidden }

= render 'search'

.remote#options{ hidden }

.list#leads
  - if @leads.any?
    = render @leads
  - else
    = render "fat_free_crm/shared/empty"

#paginate= render "fat_free_crm/shared/paginate_with_per_page"
#export= render "fat_free_crm/shared/export"
