- model_name = controller_name.singularize
- model_klass = model_name.camelcase.constantize

.space-between.page-heading
  .title
    %h1{id: "create_#{model_name}_title"} #{t controller_name.to_sym}
    = image_tag("loading.gif", size: :thumb, id: "loading", style: "display: none;")

  .title_tools
    .create_asset
      = link_to_inline("create_#{model_name}".to_sym, send("new_#{model_name}_path"), { text: t("create_#{model_name}".to_sym), class: 'btn btn-primary create-asset-button' })

