%li.highlight[mandrill_email]
  - unless mandrill_email.category.blank?
    .strip{:class => mandrill_email.category}= t(mandrill_email.category)
  - else
    .strip.grey #{t :other}

  %ul.tools
    = hook(:mandrill_email_tools_before, self, :mandrill_email => mandrill_email)
    
    - if can?(:update, mandrill_email)
      %li= link_to_edit(mandrill_email)
    
    - if shown_on_landing_page?
      %li= link_to_discard(mandrill_email)

    - if can?(:destroy, mandrill_email)
      %li= link_to_delete(mandrill_email)

  .indent
    = link_to_if can?(:read, mandrill_email), mandrill_email.name, mandrill_email
    &ndash;
    %tt
      -#= contact_group.location << ", " unless contact_group.location.blank?
      = t(:added_by, :time_ago => time_ago_in_words(mandrill_email.created_at), :user => (mandrill_email.user.id == @current_user.id ? t(:me) : mandrill_email.user.full_name)) #<< " | "

      - if mandrill_email.tag_list.present?
        %dt
          .tags= tags_for_index(mandrill_email)

      = hook(:mandrill_email_bottom, self, :mandrill_email => mandrill_email)
