- id = dom_id(@field_group, :edit)

- if @field_group.errors.empty?
  crm.flip_form('#{id}');
  crm.set_title('#{dom_id(@field_group)}', '#{field_group_subtitle(@field_group)}');
- else
  $('##{id}').html('#{ j render(partial: 'edit') }');
  $('##{id}').effect('shake', { distance:5 }, 250);
