= content_for(:javascript_epilogue) do
  :plain
    document.observe("dom:loaded", function() {
      new Effect.Move("standalone", { x:0, y:-16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
        new Effect.Move("standalone", { x:0, y:16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
          new Effect.Move("standalone", { x:0, y:-8, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
            new Effect.Move("standalone", { x:0, y:8, mode:"relative", fps:100, duration:0.15 });
          }});
        }});
      }});
    });

.standalone#standalone
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .title_tools #{t :no_account} #{link_to t(:sign_up_now), new_user_registration_path}
    .title= t(:login)
    .section
      .label= t(:login) + ':'
      = f.text_field :login
      .label= t(:password) + ':'
      = f.password_field :password

    %div(style="margin-left:12px") #{f.check_box(:remember_me)} #{t :remember_me}
    %br
    .buttonbar
      = f.submit t(:login)
      #{t :or}
      = link_to t(:forgot_password) << '?', new_user_password_path
