= content_for(:javascript_epilogue) do
  :plain
    document.observe("dom:loaded", function() {
      new Effect.Move("standalone", { x:0, y:-16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
        new Effect.Move("standalone", { x:0, y:16, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
          new Effect.Move("standalone", { x:0, y:-8, mode:"relative", fps:100, duration:0.15, afterFinishInternal: function(effect) {
            new Effect.Move("standalone", { x:0, y:8, mode:"relative", fps:100, duration:0.15 });
          }});
        }});
      }});
    });

.standalone#standalone
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    - if User.can_signup?
      .title_tools
        = t(:no_account)
        = link_to(t(:sign_up_now), new_registration_path(resource_name))
    .title= t(:login)
    .section
      .label= t(:username)
      = f.input_field :email, as: :string
      .label= t(:password)
      = f.input_field :password

    %div(style="margin-left:12px")
      = f.input :remember_me, as: :boolean, inline_label: t('remember_me')
    %br
    .buttonbar
      = f.submit t(:login)
      = t(:or)
      = link_to t(:forgot_password) + '?', new_password_path(resource_name)
