- model = entity.class.name.underscore
%details.idc-panel.contact-absences
  %summary #{t :cases}
  #contact_extra_intro.full-width
    - @contact.exposures.order("started_at DESC").each do |exposure|
      .label-value-group
        %div
        = link_to((t :mtb_exposure), index_case_path(exposure.index_case)) 
      .label-value-group
        %div #{t :mtb_exposure_facility}
        %div 
          = exposure.facility.name
      .label-value-group
        - if exposure.started_at
          %div #{t :mtb_exposure_started_at}
          %div 
            = l(exposure.started_at, format: :long)
      .label-value-group
        - if exposure.ended_at
          %div #{t :mtb_exposure_ended_at}
          %div 
            = l(exposure.ended_at, format: :long)
      .label-value-group
        %div #{t :mtb_exposure_level}
        %div 
          = exposure.level
    - @contact.contact_opportunities.each do |exposure|
      - next unless exposure.source_relationship 
      .label-value-group
        %div #{t :non_mtb_exposure}
      .label-value-group
        %div #{t :non_mtb_exposure_source_name}
        %div 
          = exposure.source_name
      .label-value-group
        %div #{t :non_mtb_exposure_source_relationship}
        %div 
          = exposure.source_relationship
      .label-value-group
        - if exposure.source_start_at
          %div #{t :mtb_exposure_source_start_at}
          %div 
            = l(exposure.source_start_at, format: :long)
      .label-value-group
        - if exposure.source_end_at
          %div #{t :mtb_exposure_source_end_at}
          %div 
            = l(exposure.source_end_at, format: :long)
      .label-value-group
        %div #{t :non_mtb_exposure_level}
        %div 
          = exposure.exposure_level


