.remote
  = simple_form_for(@contact, html: one_submit_only, remote: true) do |f|
    = link_to_close edit_contact_path(@contact)
    = f.hidden_field :user_id

    = f.error_messages object_name: t('contact')

    = render "fat_free_crm/contacts/top_section", f: f, edit: true
    = render "fat_free_crm/fields/edit_custom_field_group", f: f, edit: true
    = render "fat_free_crm/contacts/identifiers", f: f, entity: @contact
    = render "fat_free_crm/contacts/contact_assignments", f: f, edit: true, entity: @contact
    = render "fat_free_crm/contacts/absences",    f: f, entity: @contact
    = render "fat_free_crm/contacts/extra",       f: f, edit: true
    = render "fat_free_crm/contacts/web",         f: f, edit: true
    = render "fat_free_crm/fields/groups",        f: f, edit: true
    = render "fat_free_crm/entities/permissions", f: f, edit: true, entity: @contact
    = hook(:entity_form, self, {f: f, entity: @contact})

    .buttonbar
      = f.submit t(:save_contact), onclick: "crm.save_contact()", :class => 'btn btn-primary'
      = link_to_cancel edit_contact_path(@contact), :class => 'btn btn-link'
