%details.idc-panel
  %summary #{t :extra_info}
  %small#contact_extra_intro.full-width
    = t(:intro, t(:extra_info_small))
  .idc-form-group#contact_extra
    = hook(:contact_extra_details_form, self, f: f) do
      .form-group.one-quarter
        %label #{t :job_title}:
        = f.text_field(:title, { class: 'form-control'})
      .form-group.one-quarter
        %label #{t :department}:
        = f.text_field(:department, { class: 'form-control'})
      .form-group.one-quarter
        %label #{t :alt_email}:
        = f.text_field(:alt_email, { class: 'form-control'})
      .form-group.one-quarter
        %label #{t :mobile}:
        = f.text_field(:mobile, { class: 'form-control'})
      = render "fat_free_crm/shared/address", f: f, asset: @contact, type: 'business', title: :address

