- model = entity.class.name.underscore
- facilities = entity.account&.facilities || FatFreeCrm::Facility.all
.idc-form-group#contact_assignment
  .form-group.one-quarter
    %label #{t :start_on}:
    = date_field_tag("contact[assignments_attributes][#{time = Time.now.to_i}][start_on]", nil, class: 'form-control', required: true)
  .form-group.one-quarter
    %label #{t :end_on}:
    = date_field_tag("contact[assignments_attributes][#{time = Time.now.to_i}][end_on]", nil, class: 'form-control')
  .form-group.one-third
    %label #{t :facility}:
    = select_tag("contact[assignments_attributes][#{time = Time.now.to_i}]facility_id", options_from_collection_for_select(facilities, 'id', 'name'), {include_blank: true, required: true, class: 'form-control'})
  .one-sixth.shove-down
    = link_to_function(raw("<i class='fa fa-2x fa-trash'></i>"), "this.closest('.idc-form-group').remove()")

