= simple_form_for(@contact, html: one_submit_only, remote: true) do |f|
  = link_to_close new_contact_path
  = f.hidden_field :user_id
  = hidden_field_tag "opportunity", "#{@opportunity.id if @opportunity}"

  = f.error_messages object_name: t('contact')

  = render "fat_free_crm/contacts/top_section", f: f
  = render "fat_free_crm/fields/edit_custom_field_group", f: f
  = render "fat_free_crm/contacts/identifiers", f: f
  = render "fat_free_crm/contacts/contact_assignments", f: f
  = render "fat_free_crm/contacts/absences",    f: f, entity: @contact
  = render "fat_free_crm/shared/add_comment",   f: f
  = render "fat_free_crm/contacts/extra",       f: f
  = render "fat_free_crm/contacts/web",         f: f
  = render "fat_free_crm/fields/groups",        f: f
  = render "fat_free_crm/entities/permissions", f: f, entity: @contact
  = hook(:entity_form, self, {f: f, entity: @contact})

  .buttonbar
    = f.submit t(:create_contact), onclick: "crm.create_contact()", :class => 'btn btn-primary'
    = link_to_cancel new_contact_path, :class => 'btn btn-link'
