- model = entity.class.name.underscore
.idc-form-group#contact_assignment
  .form-group.one-quarter
    %label #{t :start_on}:
    = date_field_tag("contact[assignments_attributes][#{time = Time.now.to_i}][start_on]", nil, class: 'form-control')
  .form-group.one-quarter
    %label #{t :end_on}:
    = date_field_tag("contact[assignments_attributes][#{time = Time.now.to_i}][end_on]", nil, class: 'form-control')
  - if entity.account.present?
    .form-group.one-third
      %label #{t :facility}:
      = select("contact[assignments_attributes][#{time = Time.now.to_i}][facility]", :facility_id, options_from_collection_for_select(entity.account&.facilities, 'id', 'name'), {include_blank: true}, {class: 'form-control'})
  .one-sixth.shove-down
    = link_to_function(raw("<i class='fa fa-2x fa-trash'></i>"), "this.closest('.idc-form-group').remove()")

