= styles_for :contact

= render 'fat_free_crm/entities/title_bar'

.remote#create_contact{ hidden }

= render "fat_free_crm/shared/search"

.remote#options{ hidden }

%ul.list#contacts
  - if @contacts.any?
    = render @contacts
  - else
    = render "fat_free_crm/shared/empty"

#paginate= render "fat_free_crm/shared/paginate_with_per_page"
#export= render "fat_free_crm/shared/export"
