
= form_for(@super_tag, :url => admin_super_tags_path, :html => one_submit_only(:acts_as_taggable_on_tag), :remote => true) do |f|
  = link_to_close new_admin_super_tag_path
  = f.error_messages
  = render :partial => "admin/super_tags/top_section", :locals => { :f => f }
  .buttonbar
    = f.submit "Create Super Tag"
    or
    = link_to_cancel new_admin_super_tag_path

