= styles_for :customfields

.title_tools
  = link_to_inline(:create_super_tag, new_admin_super_tag_path)

.title
  %span#create_super_tag_title Super Tags

.remote#options{ hidden }
.remote#create_super_tag{ hidden }

.list#super_tags
  - unless @super_tags.empty?
    = render :partial => "super_tag", :collection => @super_tags
  - else
    - # Special case for 'empty' partial for admin controller.
    - assets = controller.controller_name
    - asset = assets.singularize
    - path_prefix = "admin_"
    #empty
      - if @current_query.blank?
        == #{t(:could_not_find, assets)} #{link_to(t(:create_new) << ' ' << t(asset + '_small'), :url => send("new_" << path_prefix << asset << "_path"), :remote => true)}.
      - else
        == #{t(:could_not_find_matching, t(assets.downcase + '_small'))} <span class="cool"><b>#{h @current_query}</b></span>; #{t :please_retry}

#paginate= render :partial => "common/paginate"

