
= styles_for :super_tag, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_super_tag, edit_admin_super_tag_path(@super_tag), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@super_tag, :url => admin_super_tag_path(@super_tag)))
.title#edit_super_tag_title= h(@super_tag.name)

%div#edit_super_tag{ hidden }

-#-----------------------------------------------------------------------------
%br
.subtitle_tools
  = link_to_inline :create_customfield, new_admin_customfield_path(:tag_id => @super_tag.id), { :class => "subtitle_customfields", :related => dom_id(@super_tag), :text => t(:create_customfield) }
.subtitle#create_customfield_title
  = t :customfields
.remote#create_customfield{ hidden }
.list#customfields
  = render :partial => "admin/customfields/customfield", :collection => @super_tag.customfields.sort {|a,b| a.position <=> b.position }

= hook(:show_super_tag_bottom, self)

= sortable_element("customfields", :url => sort_admin_customfields_path, :handle => "handle")

