%fieldset.panel.panel-default
  .panel-heading
    %h4= t(:ai_prompts)
    %p= t(:ai_prompts_description)
  .panel-body
    = f.fields_for :ai_prompts, Setting.ai_prompts do |ai_fields|
      .row
        .col-md-6
          .form-group
            = ai_fields.label :about_my_business, t(:about_my_business)
            = ai_fields.text_area :about_my_business, class: 'form-control', placeholder: t(:about_my_business_placeholder), rows: 5
        .col-md-6
          .form-group
            = ai_fields.label :how_i_plan_to_use_ffcrm, t(:how_i_plan_to_use_ffcrm)
            = ai_fields.text_area :how_i_plan_to_use_ffcrm, class: 'form-control', placeholder: t(:how_i_plan_to_use_ffcrm_placeholder), rows: 5
