- remote_form_for(@opportunity) do |f|
  = hidden_field_tag "context", "#{@context}"
  = f.hidden_field :user_id
  = f.hidden_field :assigned_to
  = f.error_messages
  .section
    %table{ :border => 0, :width => 500, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td{ :valign => :top }
          .label.req.top Name:
          = f.text_field :name, :style => "width:325px"
        %td= spacer
        %td{ :valign => :top }
          .label.req.top Stage:
          = f.select :stage, Setting.opportunity_stage, { :selected => @opportunity.stage.to_sym }, { :style => "width:160px" }

    %table{ :border => 0, :width => 500, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td{ :valign => :top }
          .label Close date:
          = f.text_field :closes_on, :style => "width:110px;", :autocomplete => :off
        %td= spacer
        %td{ :valign => :top }
          .label Probability (%):
          = f.text_field :probability, :style => "width:110px; text-align:right;"
        %td= spacer
        %td{ :valign => :top }
          .label Amount ($):
          = f.text_field :amount, :style => "width:110px; text-align:right;"
        %td= spacer
        %td{ :valign => :top }
          .label Discount ($):
          = f.text_field :discount, :style => "width:110px; text-align:right;"

    - fields_for(@account) do |a|
      = a.hidden_field :user_id
      = a.hidden_field :access
      %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
        %tr
          %td{ :valign => :top }
            .label
              Account
              %span#account_selector
            = collection_select :account, :id, @accounts, :id, :name, { :selected => @account.id || 0 }, { :style => "width:330px; display:none;" }
            = a.text_field :name, :style => "width:324px; display:none;"
          %td= spacer
          %td{ :valign => :top }
            .label.req Assigned to:
            = collection_select :account, :assigned_to, @users, :id, :full_name, { :include_blank => "Myself" }, { :style => "width:160px" }

  = render :partial => "permissions", :locals => { :f => f }
  .buttonbar
    = f.submit "Create Opportunity", :onclick => %/$("opportunity_assigned_to").value = $F("account_assigned_to");/
    or
    = link_to_remote "Cancel", { :url => new_opportunity_path, :with => "{ visible: true, context: '#{@context}' }" }

%script{:type => "text/javascript"}
  crm.date_select_popup("opportunity_closes_on");
  = @account.id.blank? ? "crm.create_account();" : "crm.select_account();"
