.remote
  = form_for(@opportunity, :html => one_submit_only(:opportunity), :remote => true) do |f|
    = link_to_close edit_opportunity_path(@opportunity)
    = f.hidden_field :user_id
    = f.hidden_field :campaign_id

    = f.error_messages :object_name => t('opportunity')

    = render "opportunities/top_section", :f => f, :edit => true
    = render "opportunities/permissions", :f => f, :edit => true
    .buttonbar
      = f.submit t(:save_opportunity), :onclick => %/$("account_assigned_to").value = $F("opportunity_assigned_to");/
      #{t :or}
      = link_to_cancel edit_opportunity_path(@opportunity)
