- edit ||= false
- collapsed = session[:opportunity_permissions].nil? # && @opportunity.errors.empty?
= subtitle :opportunity_permissions, collapsed, t(:permissions)
.section
  %small#opportunity_permissions_intro{ hidden_if(!collapsed) }
    = get_default_permissions_intro(@opportunity.access, t(:opportunity_small)) unless edit
  #opportunity_permissions{ hidden_if(collapsed) }
    .radio_box
      = f.radio_button :access, "Private", :onclick => "$('people').hide();"
      = label "opportunity[access]", :private, t(:keep_private), :style => "cursor:pointer"
    .radio_box
      = f.radio_button :access, "Public", :onclick => "$('people').hide();"
      = label "opportunity[access]", :public, t(:make_public), :style => "cursor:pointer"
    .radio_box
      = f.radio_button :access, "Shared", :onclick => "$('people').show();"
      = label "opportunity[access]", :shared, t(:share_with), :onclick => "$('people').show()"

    #people{ hidden_if(@opportunity.access != "Shared") }
      %div{ :style => "padding: 6px 0px 0px 20px" }
        - for user in @users
          .check_box
            -# Preserve state of the checkboxes if the form gets redrawn on errors.
            = check_box_tag "users[]", user.id, @opportunity.permissions.map(&:user_id).include?(user.id) || (params[:users] && params[:users].include?(user.id.to_s)), :id => "user_#{user.id}"
            = label_tag "user_#{user.id}", h(user.full_name), :style => "cursor:pointer"
