.filters#filters
  = render "common/search"
  - @stage.each do |value, key|
    .check_box{:style => "border-bottom: 1px silver dotted;"}
      %div{:style => "float:right;"}
        = @opportunity_stage_total[key]
      = opportunity_stage_checbox(key, @opportunity_stage_total[key])
      = label_tag(key, value)

  .check_box{:style => "border-bottom: 1px silver dotted;"}
    %div{:style => "float:right;"}
      = @opportunity_stage_total[:other]
    = opportunity_stage_checbox("other", @opportunity_stage_total[:other])
    = label_tag(:other, t(:other))

  .check_box
    %div{:style => "float:right;"}
      %b= @opportunity_stage_total[:all]
    %b #{t :total_opportunities}
  = hook(:index_opportunity_sidebar_bottom, self)
