.filters#filters
  = render :partial => "common/search"
  - Setting.opportunity_stage.each do |value, key|
    .check_box{:style => "border-bottom: 1px silver dotted;"}
      %div{:style => "float:right;"}
        = @opportunity_stage_total[key]
      = opportunity_stage_checbox(key, @opportunity_stage_total[key]) << " " << t('opportunity_stage_' << value.downcase.gsub(" ", "_"))

  .check_box{:style => "border-bottom: 1px silver dotted;"}
    %div{:style => "float:right;"}
      = @opportunity_stage_total[:other]
    = opportunity_stage_checbox("other", @opportunity_stage_total[:other]) << " " << t(:category_other)

  .check_box
    %div{:style => "float:right;"}
      %b= @opportunity_stage_total[:all]
    %b #{t:total_opportunities}
