= hook(:opportunity_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.req.top #{t :name}:
          = f.text_field :name, :style => "width:325px"
        %td= spacer
        %td
          .label.req.top #{t :stage}:
          = f.select :stage, @stage, { :selected => @opportunity.stage ? @opportunity.stage.to_sym : nil }, { :style => "width:160px" }

    %table{ :border => 0, :width => 500, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td
          .label #{t :close_date}:
          = f.text_field :closes_on, :value => f.object.closes_on ? l(f.object.closes_on, :format => :mmddyyyy) : "", :style => "width:110px;", :autocomplete => :off
        %td= spacer
        %td
          .label #{t :probability} (%):
          = f.text_field :probability, :style => "width:110px; text-align:right;"
        %td= spacer
        %td
          .label #{t :amount} #{t :currency}:
          = f.text_field :amount, :style => "width:110px; text-align:right;"
        %td= spacer
        %td
          .label #{t :discount} #{t :currency}:
          = f.text_field :discount, :style => "width:110px; text-align:right;"

    = fields_for(@account) do |a|
      = a.hidden_field :user_id
      = a.hidden_field :access
      = a.hidden_field :assigned_to
      %table
        %tr
          %td
            .label
              #{t :account}
              %span#account_create_title
                (#{t :create_new} #{t :or} <a href='#' onclick='crm.select_account(1); return false;'>#{t :select_existing}</a>):
              %span#account_select_title
                (<a href='#' onclick='crm.create_account(1); return false;'>#{t :create_new}</a> #{t :or} #{t :select_existing}):
              %span#account_disabled_title :

            -# Add [-- None --] account choice when editing existing opportunity that has an account.
            - options = { :selected => @account.id || 0 }
            - options[:include_blank] = true #t(:select_none) unless @opportunity.new_record? || @opportunity.account.blank?

            = collection_select :account, :id, @accounts, :id, :name, options, { :style => "width:330px; display:none;" }
            = a.text_field :name, :style => "width:324px; display:none;"
          %td= spacer
          %td
            .label.req #{t :assigned_to}:
            = collection_select :opportunity, :assigned_to, @users, :id, :full_name, { :include_blank => t(:myself) }, { :style => "width:160px" }

        - if Setting.background_info && Setting.background_info.include?(:opportunity)
          %tr
            %td(colspan="3")
              .label= t(:background_info) << ':'
              = f.text_area :background_info, :style =>"width:500px", :rows => 3

        = hook(:opportunity_top_section_bottom, self, :f => f)
