- content_for :styles do
  %style
    - Setting.opportunity_stage_color.each do |key, value|
      == .#{key} { background:#{value}; }

.title_menu= link_to "Create New Opportunity", new_opportunity_path
.title Opportunities

.list
  - unless @opportunities.empty?
    - for opportunity in @opportunities
      %li{ highlightable(dom_id(opportunity)) }
        - if opportunity.stage
          .strip{:class => opportunity.stage}= Setting.opportunity_stage[opportunity.stage.intern]
        - else
          .strip &nbsp;
        %div
          .tools[opportunity]{ hidden }
            = link_to(image_tag("information.png", :title => "View #{h(opportunity.name)}"), opportunity_path(opportunity))
            = link_to(image_tag("tick_circle.png", :title => "Edit #{h(opportunity.name)}"), edit_opportunity_path(opportunity))
            = link_to(image_tag("cross_circle.png", :title => "Delete #{h(opportunity.name)}"), "#")
          = link_to(opportunity.name, opportunity)
          %tt
            &ndash;
            == added #{time_ago_in_words(opportunity.created_at)} ago by
            == #{opportunity.user.id == @current_user.id ? "me" : opportunity.user.full_name}
          %dt
            %b= number_to_currency(opportunity.weighted_amount, :precision => 0) << " | "
            - unless %w(won lost).include?(opportunity.stage)
              =  number_to_currency(opportunity.amount, :precision => 0) << " with #{opportunity.probability}% probability |"
            == expected to close in #{distance_of_time_in_words(Date.today, opportunity.closes_on)}
  - else
    %div== You don't have any opportunities yet. Feel free to #{link_to("create new opportunity", new_opportunity_path)}.

/ # <% for opportunity in @opportunities %>
/ #   <tr>
/ #     <td><%= link_to 'Show', opportunity %></td>
/ #     <td><%= link_to 'Edit', edit_opportunity_path(opportunity) %></td>
/ #     <td><%= link_to 'Destroy', opportunity, :confirm => 'Are you sure?', :method => :delete %></td>
/ #   </tr>
/ # <% end %>
