= styles_for :opportunity

= inline :create_opportunity, new_opportunity_path
.title
  %span#create_opportunity_title Opportunities
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#create_opportunity{ hidden }

.list#opportunities
  - unless @opportunities.empty?
    = render :partial => "opportunity", :collection => @opportunities
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"
