= styles_for :opportunity

= inline :create_opportunity, new_opportunity_path
.title#create_opportunity_title Opportunities
.remote#create_opportunity{ hidden }

.list#opportunities
  - unless @opportunities.empty?
    = render :partial => "opportunity", :collection => @opportunities
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"
