= styles_for :opportunity

.title_tools
  = link_to_inline(:create_opportunity, new_opportunity_path, :text => t(:create_opportunity)) << " | "
  = link_to_inline(:options, options_opportunities_path, :text => t(:options))

.title
  %span#create_opportunity_title #{t :opportunities}
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#options{ hidden }
.remote#create_opportunity{ hidden }

.list#opportunities
  - if @opportunities.any?
    = render @opportunities
  - else
    = render "common/empty"

#paginate= render "common/paginate"
#export= render "common/export"

= hook(:opportunity_index_after, self)

