- content_for :styles do
  %style
    - Setting.opportunity_stage_color.each do |key, value|
      == .#{key} { background:#{value}; }

.title_menu= link_to "Create New Opportunity", new_opportunity_path
.title Opportunities

.list
  - unless @opportunities.empty?
    = render :partial => "opportunity", :collection => @opportunities
  - else
    %div== You don't have any opportunities yet. Feel free to #{link_to("create new opportunity", new_opportunity_path)}.
