= styles_for :opportunity

= inline :create_opportunity, new_opportunity_path
- unless @opportunity
  .title#create_opportunity_title Opportunities
  .remote#create_opportunity{ hidden }
- else
  .title#create_opportunity_title Create Opportunity
  .remote#create_opportunity= render :partial => "create"

.list#opportunities
  - unless @opportunities.empty?
    = render :partial => "opportunity", :collection => @opportunities
  - else
    %div== You don't have any opportunities yet. Feel free to #{link_to("create new opportunity", new_opportunity_path)}.
