= styles_for :opportunity

= image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

#buttons
  = render 'format_buttons'
  .create_asset
    = link_to_inline(:create_opportunity, new_opportunity_path, :text => t(:create_opportunity))

= render 'search'

.remote#create_opportunity{ hidden }

.remote#options{ hidden }

.list#opportunities
  - if @opportunities.any?
    = render @opportunities
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"

= hook(:opportunity_index_after, self)
