= styles_for :task, :contact

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_opportunity, edit_opportunity_path(@opportunity), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@opportunity))
.title#edit_opportunity_title= h(@opportunity.name)

%div#edit_opportunity{ hidden }

= render :partial => "comments/new", :locals => { :commentable => @opportunity }
= render :partial => "common/timeline", :collection => @timeline

.subtitle
  = 'Tags'
%div
  = render :partial => "common/tags", :locals => {:tags => @opportunity.tags, :owner => @opportunity}

  - remote_form_for @opportunity, :url => add_tag_opportunity_path(@opportunity), :html => {:id => 'new_tag'} do
    = text_field_with_auto_complete :tag, :name, {:class => 'txt-std'},{:indicator => "auto_tag_loading",:tokens=>",",:skip_style=>true}
    = image_tag "ajax_loading.gif",:id=>'auto_tag_loading', :style=>"display:none;"
    = submit_tag 'Add tags'


= section(@opportunity, :tasks)
.log#tasks
  = render :partial => "common/tasks"

= section(@opportunity, :contacts)
.list#contacts
  = render :partial => "contacts/contact", :collection => @opportunity.contacts

= load_select_popups_for(@opportunity, :tasks, :contacts)

= hook(:show_opportunity_bottom, self)
