= styles_for :task, :contact

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_opportunity, edit_opportunity_path(@opportunity), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@opportunity))
.title#edit_opportunity_title= h(@opportunity.name)

%div#edit_opportunity{ hidden }

= render "comments/new", :commentable => @opportunity
= render :partial => "common/timeline", :collection => @timeline

= hook(:show_opportunity_bottom, self) do

  = section(@opportunity, :tasks)
  .log#tasks
    = render "common/tasks"

  = section(@opportunity, :contacts)
  .list#contacts
    - @contacts = @opportunity.contacts.paginate(:page => 1, :per_page => 20)
    = render :partial => "contacts/contact", :collection => @opportunity.contacts.paginate(:page => 1, :per_page => 20)
  = will_paginate @contacts, :id => true, :params => {:action => :contacts}

  = load_select_popups_for(@opportunity, :tasks, :contacts)

