= styles_for :task, :contact

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_opportunity, edit_opportunity_path(@opportunity), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@opportunity))
.title#edit_opportunity_title= h(@opportunity.name)

%div#edit_opportunity{ hidden }

= render :partial => "common/new_comment", :locals => { :commentable => @opportunity }
= render :partial => "common/comment", :collection => @opportunity.comments

-#-----------------------------------------------------------------------------
%br
= inline :create_task, new_task_path, { :class => "subtitle_tools", :related => dom_id(@opportunity), :text => t(:create_task) }
.subtitle#create_task_title #{t :tasks}
.remote#create_task{ hidden }
.log#tasks
  = render :partial => "common/tasks"

-#-----------------------------------------------------------------------------
%br
= inline :create_contact, new_contact_path, { :class => "subtitle_tools", :related => dom_id(@opportunity), :text => t(:create_contact) }
.subtitle#create_contact_title #{t :contacts}
.remote#create_contact{ hidden }
.list#contacts
  = render :partial => "contacts/contact", :collection => @opportunity.contacts

= hook(:show_opportunity_bottom, self)
