- content_for :styles do
  %style
    \.none { background:pink; }
    \.some { background:palegreen; }
    - Setting.campaign_status_color.each do |key, value|
      == .#{key} { background:#{value}; }

#confirm{ hidden }
.title_menu#menu
  = link_to("Edit", edit_opportunity_path(@opportunity)) + " | "
  = link_to_function("Delete?", confirm_delete(@opportunity))
.title= @opportunity.name

= render :partial => "common/new_comment", :locals => { :commentable => @opportunity }
= render :partial => "common/comment", :collection => @opportunity.comments
.list
  .subtitle Account
  - if @opportunity.account
    = render :partial => "accounts/account", :collection => [ @opportunity.account ]
  - else
    %small Select or Create Account (not implemented yet).
.list
  .subtitle Campaign
  - if @opportunity.campaign
    = render :partial => "campaigns/campaign", :collection => [ @opportunity.campaign ]
  - else
    %small Select or Create Opportunity (not implemented yet).
