
= styles_for :task, :contact

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_opportunity, edit_opportunity_path(@opportunity), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@opportunity))
.title#edit_opportunity_title= h(@opportunity.name)

%div#edit_opportunity{ hidden }

- if Setting.show_entity_details == true
  = render "opportunities/sections", :opportunity => @opportunity

= render "comments/new", :commentable => @opportunity
= render :partial => "shared/timeline", :collection => @timeline

= hook(:show_opportunity_bottom, self) do

  = render "tasks/tasks", :object => @opportunity

  = render "contacts/contacts", :object => @opportunity

  = render "versions/versions", :object => @opportunity

  = load_select_popups_for(@opportunity, :tasks, :contacts)
