= styles_for :account, :campaign

#confirm{ hidden }
.title_tools#menu
  = link_to("Edit", edit_opportunity_path(@opportunity)) + " | "
  = link_to_function("Delete?", confirm_delete(@opportunity))
.title= @opportunity.name

= render :partial => "common/new_comment", :locals => { :commentable => @opportunity }
= render :partial => "common/comment", :collection => @opportunity.comments

%br
.subtitle Account
.list#accounts
  - if @opportunity.account
    = render :partial => "accounts/account", :collection => [ @opportunity.account ]
  - else
    %small Select or Create Account (not implemented yet).

%br

- @context = :create_opportunity_campaign
= inline @context, new_campaign_path, "Create Campaign", { :class => "subtitle_tools" }
.subtitle{ :id => "#{@context}_title"} Campaigns

- unless @campaign
  .remote{ hidden, :id => @context }
- else
  .remote{:id => @context }= render :partial => "campaigns/create"

.list#campaigns
  - if @opportunity.campaign
    = render :partial => "campaigns/campaign", :collection => [ @opportunity.campaign ]
  - else
    %small Select or Create Opportunity (not implemented yet).
