.remote
  = form_for([:admin, @group], html: one_submit_only.merge({autocomplete: 'off'}), remote: true) do |f|
    = link_to_close edit_admin_group_path(@group)

    = f.error_messages object_name: t('group')

    = render "admin/groups/form", f: f, edit: true

    .buttonbar
      = f.submit t(:save_group)
      #{t :or}
      = link_to_cancel edit_admin_group_path(@group)
