%li.highlight[group]

  %ul.tools
    %li= link_to_edit [:admin, group]
    %li= link_to_delete [:admin, group]

  %span #{link_to group.name, [:admin, group]}
  %tt
    - if (users = group.users).present?
      == #{t('group_members')}:
      = users.map(&:full_name).join(', ')
