- remote_form_for(@campaign, :html => one_submit_only(:campaign)) do |f|
  = link_to_close new_campaign_path
  = hidden_field_tag "campaign[user_id]", @current_user.id
  = f.error_messages
  = render :partial => "campaigns/top_section", :locals => { :f => f }
  = render :partial => "campaigns/objectives",  :locals => { :f => f }
  = render :partial => "campaigns/permissions", :locals => { :f => f }
  .buttonbar
    = f.submit t(:create_campaign)
    #{t :or}
    = link_to_cancel new_campaign_path
