.remote
  - remote_form_for(@campaign) do |f|
    = link_to_close edit_campaign_path(@campaign)
    = hidden_field_tag "campaign[user_id]", @current_user.id
    = f.error_messages
    = render :partial => "campaigns/top_section", :locals => { :f => f, :edit => true }
    = render :partial => "campaigns/objectives",  :locals => { :f => f, :edit => true }
    = render :partial => "campaigns/permissions", :locals => { :f => f, :edit => true }
    .buttonbar
      = f.submit "Save Campaign"
      or
      = link_to_cancel edit_campaign_path(@campaign)
