.remote
  - remote_form_for(@campaign, :html => one_submit_only(:campaign)) do |f|
    = link_to_close edit_campaign_path(@campaign)
    = f.hidden_field :user_id
    = f.error_messages
    = render :partial => "campaigns/top_section", :locals => { :f => f, :edit => true }
    = render :partial => "campaigns/objectives",  :locals => { :f => f, :edit => true }
    = render :partial => "campaigns/permissions", :locals => { :f => f, :edit => true }
    .buttonbar
      = f.submit t(:save_campaign)
      #{t :or}
      = link_to_cancel edit_campaign_path(@campaign)
