%p
  = link_to_close options_campaigns_path
  = hidden_field_tag "campaign[user_id]", @current_user.id

  - current_sort_by = t("option_" + Campaign.sort_by_map.invert[@sort_by])
  - current_outline = t("option_#{@outline}")
  - current_naming  = t("option_#{@naming}")

  -# sort_by: Sort {{models}} by {{field}}.
  = t(:sort_by, :models => t(:campaigns_small), :field => link_to(current_sort_by, "#", :id => :sort_by)).html_safe

  -# show_per_page: Show {{number}} {{models}} per page using {{fmt}} format.
  = t(:show_per_page, :number => link_to(@per_page, "#", :id => :per_page), :models => t(:campaigns_small), :fmt => link_to(current_outline, "#", :id => :outline)).html_safe

%p

%script
  = render "common/sort_by"
  = render "common/per_page"
  = render "common/outline"
