- edit ||= false
- collapsed =  session[:campaign_permissions].nil? # && @campaign.errors.empty?
= subtitle :campaign_permissions, collapsed, t(:permissions)
.section
  %small#campaign_permissions_intro{ hidden_if(!collapsed) }
    = get_default_permissions_intro(@campaign.access, t(:campaign_and_leads)) unless edit
  #campaign_permissions{ hidden_if(collapsed) }
    .radio_box
      = f.radio_button :access, "Private", :onclick => "$('people').hide();"
      = label "campaign[access]", :private, t(:keep_private), :style => "cursor:pointer"
    .radio_box
      = f.radio_button :access, "Public", :onclick => "$('people').hide();"
      = label "campaign[access]", :public, t(:make_public), :style => "cursor:pointer"
    .radio_box
      = f.radio_button :access, "Shared", :onclick => "$('people').show();"
      = label "campaign[access]", :shared, t(:share_with), :style => "cursor:pointer"

    #people{ hidden_if(@campaign.access != "Shared") }
      %div{ :style => "padding: 6px 0px 0px 20px" }
        - for user in @users
          .check_box
            -# Preserve state of the checkboxes if the form gets redrawn on errors.
            = check_box_tag "users[]", user.id, @campaign.permissions.map(&:user_id).include?(user.id) || (params[:users] && params[:users].include?(user.id.to_s)), :id => "user_#{user.id}"
            = label_tag "user_#{user.id}", user.full_name
