#filters
  - Setting.campaign_status.invert.sort.each do |key, value|
    .check_box{:style => "border-bottom: 1px silver dotted;"}
      %div{:style => "float:right;"}
        = @campaign_status_total[value]
      = campaign_status_checbox(value, @campaign_status_total[value]) << " " << key

  .check_box{:style => "border-bottom: 1px silver dotted;"}
    %div{:style => "float:right;"}
      = @campaign_status_total[:other]
    = campaign_status_checbox("other", @campaign_status_total[:other]) << " Other"

  .check_box{:style => "border-bottom: 1px silver dotted;"}
    %div{:style => "float:right;"}
      %b= @campaign_status_total[:all]
    %b Total Campaigns
