.section
  %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td{ :colspan => 5, :valign => :top }
        .label.top.req #{t :name}:
        = f.text_field :name, :style => "width:500px"
    %tr
      %td{ :valign => :top }
        .label #{t :start_date}:
        = f.text_field :starts_on, :value => f.object.starts_on ? f.object.starts_on.to_s(:mmddyyyy) : "", :style => "width:110px", :autocomplete => :off
      %td= spacer
      %td{ :valign => :top }
        .label #{t :end_date}:
        = f.text_field :ends_on, :value => f.object.ends_on ? f.object.ends_on.to_s(:mmddyyyy) : "", :style => "width:110px", :autocomplete => :off
      %td= spacer
      %td{ :valign => :top }
        .label #{t :status}:
        = f.select :status, Setting.unroll(:campaign_status), { :selected => (@campaign.status || "planned").to_sym }, { :style => "width:250px" }
    = hook(:campaign_top_section_bottom, self, :f => f)
