= styles_for :campaign

= render 'title_bar'
= render 'search'

.remote#create_campaign{ hidden }

.remote#options{ hidden }

.list#campaigns
  - if @campaigns.any?
    = render @campaigns
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
