= styles_for :campaign

= image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

#buttons
  = render 'format_buttons'
  .create_asset
    = link_to_inline(:create_campaign, new_campaign_path, :text => t(:create_campaign))

= render 'search'

.remote#create_campaign{ hidden }

.remote#options{ hidden }

.list#campaigns
  - if @campaigns.any?
    = render @campaigns
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
