= styles_for :campaign

= inline :create_campaign, new_campaign_path
- unless @campaign
  .title#create_campaign_title Campaigns
  .remote#create_campaign{ hidden }
- else
  .title#create_campaign_title Create Campaign
  .remote#create_campaign= render :partial => "create"

.list#campaigns
  - unless @campaigns.empty?
    = render :partial => "campaign", :collection => @campaigns
  - else
    %div== You don't have any campaigns set up. Please #{link_to("create new campaign", new_campaign_path)} first.
