= styles_for :campaign

= inline :create_campaign, new_campaign_path
.title
  %span#create_campaign_title Campaigns
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#create_campaign{ hidden }

.list#campaigns
  - unless @campaigns.empty?
    = render :partial => "campaign", :collection => @campaigns
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"
