= styles_for :campaign

= inline :create_campaign, new_campaign_path
.title#create_campaign_title Campaigns
.remote#create_campaign{ hidden }

.list#campaigns
  - unless @campaigns.empty?
    = render :partial => "campaign", :collection => @campaigns
  - else
    = render :partial => "empty"
#paginate= render :partial => "common/ajax_paginate"
