- content_for :stylesheet_link do
  = stylesheet_link_tag "calendar_date_select/default.css", :cache => true
- content_for :javascript_include do
  = javascript_include_tag "calendar_date_select/calendar_date_select.js", :cache => true
  = javascript_include_tag "calendar_date_select/format_american.js", :cache => true

- if error_message_on(@campaign, :name).blank? and !error_message_on(@campaign, :ends_on).blank?
  - content_for :javascript_epilogue do
    :javascript
      $("campaign_ends_on").focus();

.mainform
  - form_for(@campaign) do |f|
    = hidden_field_tag "campaign[user_id]", @current_user.id
    .title Create Campaign
    = f.error_messages
    .section
      %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
        %tr
          %td{ :colspan => 4, :valign => :top }
            .label Campaign name:
            = f.text_field :name, :style => "width:500px"
        %tr
          %td{ :valign => :top }
            .label Start date:
            = f.text_field :starts_on, :style => "width:110px", :autocomplete => :off, :onclick => "new CalendarDateSelect(this, { month_year:'label',  year_range:10 })"
          %td= spacer
          %td{ :valign => :top }
            .label End date:
            = f.text_field :ends_on, :style => "width:110px", :autocomplete => :off, :onclick => "new CalendarDateSelect(this, { month_year:'label', year_range:10 });"
          %td= spacer(260)
    = render :partial => "objectives", :locals => { :f => f }
    .buttonbar
      = f.submit "Create Campaign"
      or
      = link_to "Cancel", campaigns_path
