#confirm{ hidden }
.title_menu#menu
  = link_to("Edit", edit_campaign_path(@campaign)) + " | "
  = link_to_function("Delete?", confirm_delete(@campaign))
.title
  = @campaign.name
  / %div{:style => "font-size:12px; font-weight:normal; color:#6f6f6f; padding-left: 16px"}
  /   Raise the awareness of decision-makers at local, regional, state, and federal level.
  / %div{:style => "font-size:12px; font-weight:normal; color:#6f6f6f; padding-left: 16px"}
  /   Started on Jan 15, ends on Feb 30, 10 days left
/     
/ .log
/   %li== User: #{@campaign.user_id}
/   %li== Assiged to: #{@campaign.assigned_to}
/   %li== Start date: #{@campaign.starts_on}
/   %li== End date: #{@campaign.ends_on}
/   %li== Access: #{@campaign.access}
/   %li== Status: #{@campaign.status}
/   %li== Budget: #{@campaign.budget}
/   %li== Target leads: #{@campaign.target_leads}
/   %li== Target conversion: #{@campaign.target_conversion}
/   %li== Target revenue: #{@campaign.target_revenue}
/   %li== Leads: #{@campaign.leads_count}
/   %li== Opportunities: #{@campaign.opportunities_count}
/   %li== Revenue: #{@campaign.revenue}
/   %li== Objectives: #{@campaign.objectives}
/ 
/ 
