#confirm{ hidden }
.title_menu#menu
  = link_to("Edit", edit_campaign_path(@campaign)) + " | "
  = link_to_function("Delete?", confirm_delete(@campaign))
.title= @campaign.name

= render :partial => "common/new_comment", :locals => { :commentable => @campaign }
= render :partial => "common/comment", :collection => @campaign.comments
