= styles_for :task, :lead, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_campaign, edit_campaign_path(@campaign), :text => "Edit") + " | "
  = link_to_function("Delete?", confirm_delete(@campaign))
.title#edit_campaign_title= @campaign.name

%div#edit_campaign{ hidden }

= render :partial => "common/new_comment", :locals => { :commentable => @campaign }
= render :partial => "common/comment", :collection => @campaign.comments

-#-----------------------------------------------------------------------------
%br
= inline :create_task, new_task_path, { :class => "subtitle_tools", :related => dom_id(@campaign) }
.subtitle#create_task_title Tasks
.remote#create_task{ hidden }
.log#tasks
  - if @campaign.tasks.my(@current_user).pending.any?
    = render :partial => "tasks/pending", :collection => @campaign.tasks.my(@current_user).pending, :locals => { :bucket => nil }
  - if @campaign.tasks.assigned.any?
    = render :partial => "tasks/assigned", :collection => @campaign.tasks.assigned, :locals => { :bucket => nil }
  - if @campaign.tasks.completed.any?
    = render :partial => "tasks/completed", :collection => @campaign.tasks.completed, :locals => { :bucket => nil }

-#-----------------------------------------------------------------------------
%br
= inline :create_lead, new_lead_path, { :class => "subtitle_tools", :related => dom_id(@campaign) }
.subtitle#create_lead_title Leads
.remote#create_lead{ hidden }
.list#leads
  = render :partial => "leads/lead", :collection => @campaign.leads

-#-----------------------------------------------------------------------------
%br
= inline :create_opportunity, new_opportunity_path, { :class => "subtitle_tools", :related => dom_id(@campaign) }
.subtitle#create_opportunity_title Opportunities
.remote#create_opportunity{ hidden }
.list#opportunities
  = render :partial => "opportunities/opportunity", :collection => @campaign.opportunities
