
= styles_for :task, :lead, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_campaign, edit_campaign_path(@campaign), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@campaign))
.title#edit_campaign_title= h(@campaign.name)

%div#edit_campaign{ hidden }

- if Setting.show_entity_details == true
  = render "campaigns/sections", :campaign => @campaign


= render "comments/new", :commentable => @campaign
= render :partial => "shared/timeline", :collection => @timeline

= hook(:show_campaign_bottom, self) do

  = render "tasks/tasks", :object => @campaign

  = render "leads/leads", :object => @campaign

  = render "opportunities/opportunities", :object => @campaign

  = render "versions/versions", :object => @campaign

  = load_select_popups_for(@campaign, :tasks, :leads, :opportunities)

#export= render "shared/export", :action => :show
