#confirm{ hidden }
.title_tools#menu
  = link_to("Edit", edit_campaign_path(@campaign)) + " | "
  = link_to_function("Delete?", confirm_delete(@campaign))
.title= @campaign.name

= render :partial => "common/new_comment", :locals => { :commentable => @campaign }
= render :partial => "common/comment", :collection => @campaign.comments

%br
- @context = "create_lead_campaign_#{@campaign.id}"
- session[@context] = nil
= inline @context, new_lead_path, "Create Lead", { :class => "subtitle_tools" }
.subtitle{ :id => "#{@context}_title"} Leads

.remote{ hidden, :id => @context }

.list#leads
  - unless @campaign.leads.empty?
    = render :partial => "leads/lead", :collection => @campaign.leads

%br
- @context = "create_opportunity_campaign_#{@campaign.id}"
- session[@context] = nil
= inline @context, new_opportunity_path, "Create Opportunity", { :class => "subtitle_tools" }
.subtitle{ :id => "#{@context}_title"} Opportunities

.remote{ hidden, :id => @context }
.list#opportunities
  = render :partial => "opportunities/opportunity", :collection => @campaign.opportunities
