= styles_for :task, :lead, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_campaign, edit_campaign_path(@campaign), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@campaign))
.title#edit_campaign_title= h(@campaign.name)

%div#edit_campaign{ hidden }

= render :partial => "comments/new", :locals => { :commentable => @campaign }
= render :partial => "common/timeline", :collection => @timeline

= section(@campaign, :tasks)
.log#tasks
  = render :partial => "common/tasks"

= section(@campaign, :leads)
.list#leads
  = render :partial => "leads/lead", :collection => @campaign.leads

= section(@campaign, :opportunities)
.list#opportunities
  = render :partial => "opportunities/opportunity", :collection => @campaign.opportunities

= load_select_popups_for(@campaign, :tasks, :leads, :opportunities)

= hook(:show_campaign_bottom, self)
