= styles_for :tag

.space-between.page-heading
  .title
    %h1#create_tag_title #{t :tags}
    = image_tag("loading.gif", size: :thumb, id: "loading", style: "display: none;")
  .title_tools
    = link_to_inline(:create_tag, new_admin_tag_path, {text: t(:create_tag), class: 'btn btn-primary'})

.remote#create_tag{ hidden }

.list#tags
  - if @tags.any?
    = render partial: "admin/tags/tag", collection: @tags
  - else
    = render "fat_free_crm/shared/empty"

#export= render "fat_free_crm/shared/export"
