- require 'devise/version'
%p= t('.greeting', recipient: @resource.email)
%p= t('.instruction')
%p= link_to t('.action'), edit_password_url(@resource, reset_password_token: resource_reset_password_token)
%p= t('.instruction_2')
%p= t('.instruction_3')
