- address_type = type.to_s.camelize
- address_attr ||= "#{type}_address"
- address = get_address(asset, address_attr)

- same_as_billing ||= false

= f.fields_for(address_attr.to_sym) do |a|
  = a.hidden_field :address_type, value: address_type
  - unless Setting.compound_address
    - if same_as_billing
      %div
        .label #{t title}:
        %span
          = link_to_function(t(:same_as_billing), "crm.copy_address('account_shipping_address', 'account_billing_address')")
    - else
      .label #{t title}:
    = a.text_area :full_address
  - else
    - if same_as_billing
      %div.full-width
        .label #{t title}:
        %span
          = link_to_function(t(:same_as_billing), "crm.copy_compound_address('account_billing_address', 'account_shipping_address')")
    - else
      .label.full-width #{t title}:
    .form-group.one-half
      %label #{t :street1}
      = address_field(a, :street1)
    .form-group.one-half
      %label #{t :street2}
      = address_field(a, :street2)
    .form-group.one-quarter
      %label #{t :city}
      = address_field(a, :city)
    .form-group.one-column
      %label #{t :state}
      = address_field(a, :state)
    .form-group.one-sixth
      %label #{t :zipcode}
      = address_field(a, :zipcode)
    .form-group.one-half
      %label #{t :country}
      = a.country_select(:country, priority_countries, { include_blank: "" }, {:"data-placeholder" => t(:select_a_country), class: 'form-control'})
    .form-group.one-sixth
      %label #{t :longitute}
      .d-grid
        = a.object.lonlat.longitude if a.object.lonlat.present?
    .form-group.one-sixth
      %label #{t :latitude}
      .d-grid
        = a.object.lonlat.latitude if a.object.lonlat.present?

