- truncated = h(truncate(email.body.gsub("\n", " "), :length => 125 - email.subject.size))
- formatted = simple_format h(email.body)
- collapsed = true

%li[email]{ highlightable(dom_id(email, :tools), :off => "#f2f2f2") }
  .body
    = link_to avatar_for(email.user, :size => "25x25"), user_path(email.user)
    .tools{ invisible, :id => dom_id(email, :tools) }
      = link_to_delete(email) + "&nbsp;"

    %tt
      = "To " << link_to(email.user.full_name, user_path(email.user))
      = "from " << auto_link(email.sent_from) << ", sent on "
      = l(email.sent_at, :format => :mmddhhss)
      = " | " + link_to_function(collapsed ? "More..." : "Less...", "crm.flip_comment(this, 'More...', 'Less...')")

    %dt{ hidden_if(!collapsed), :id => dom_id(email, :truncated) }
      %p
        = h(email.subject)
        %tt= " - " << truncated
    %dt{ hidden_if(collapsed), :id => dom_id(email, :formatted) }
      %p= h(email.subject)
      = auto_link(formatted)
