- collapsed = true
%li[email]{ highlightable(dom_id(email, :tools), :off => "#f2f2f2") }
  .body
    = link_to avatar_for(email.user, :size => "25x25"), user_path(email)
    .tools{ invisible, :id => dom_id(email, :tools) }
      = link_to_edit(email) + " | "
      = link_to_delete(email) + "&nbsp;"

    %div  
      = link_to_function "<small>#{ true ? '&#9658;' : '&#9660;' }</small> #{t :email}: #{truncate(h(email.subject), :length => 60)} - #{t(:time_ago, distance_of_time_in_words(Time.now, email.created_at))}", 'crm.flip_subtitle(this)'
    
    %div
      %small#email_intro{ hidden_if(!collapsed) }
        = truncate(h(email.body.gsub("\n"," .. ")), :length => 100)
      #email{ hidden_if(collapsed) }       
        %dt
          %br
          = "#{email.user.full_name} #{t(:to)} #{email.to}"
          = "#{t :cc} #{email.cc}" unless email.cc.blank?
          = auto_link(simple_format h(email.body))