.confirm[@user, :confirm]
  #{t :user_confirm_delete}
  #{t :delete} <b>#{@user.full_name}</b>?
  = link_to(t(:yes_button), admin_user_path(@user), :method => :delete) << " : "
  = link_to_function(t(:no_button), "crm.flick('#{dom_id(@user, :confirm)}', 'remove')")
