
= form_for([:admin, @user], :html => one_submit_only(:user).merge({:autocomplete => 'off'}), :remote => true) do |f|
  = link_to_close new_admin_user_path

  = f.error_messages :object_name => t('user')

  = render "admin/users/profile", :f => f
  .buttonbar
    = f.submit t(:create_user)
    #{t :or}
    = link_to_cancel new_admin_user_path
