.remote
  = form_for([:admin, @user], :html => one_submit_only(:user).merge({:autocomplete => 'off'}), :remote => true) do |f|
    = link_to_close edit_admin_user_path(@user)

    = f.error_messages :object_name => t('user')

    = render "admin/users/profile", :f => f, :edit => true
    .buttonbar
      = f.submit t(:save_user)
      #{t :or}
      = link_to_cancel edit_admin_user_path(@user)
