- id = dom_id(@user)

- if params[:cancel].true?     # <----------------- Hide [Edit User]
  $('##{id}').replaceWith('#{ j render(partial: "user", collection: [ @user ]) }');

- else # <----------------------------------------  Show [Edit User] form.

  - if @previous                                    # Hide open [Edit User] form if any.
    - if @previous.is_a?(User)                      # Previous user still exists?
      $('##{dom_id(@previous)}').replaceWith('#{ j render(partial: "user", collection: [ @previous ]) }');
    - else
      crm.flick('user_#{@previous}', 'remove');

  -# Disable onMouseOver for the list item.
  -# Hide [Create User] form if any.
  -# Show [Edit User] form.
  crm.highlight_off('#{id}');
  crm.hide_form('create_user');
  $('##{id}').html('#{ j render(partial: "edit") }');
  $('#user_username').focus();
