= styles_for :user

.title_tools
  = link_to_inline(:create_user, new_admin_user_path)

.title
  %span#create_user_title Users
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#create_user{ hidden }

.list#users= render :partial => "user", :collection => @users
#paginate= render :partial => "common/paginate"

:erb
  <!--
  <table>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.full_name %>
      </td>
      <td width="200" align="right">
        <small>
          <%= link_to 'Show', admin_user_path(user) %> |
          <%= link_to 'Edit', edit_admin_user_path(user) %> | 
          <%= link_to 'Delete', admin_user_path(user), :method => :delete %>
        </small>
      </td>
    </tr>
  <% end %>
  </table>
  <br />
  <%= link_to 'New user', new_admin_user_path %>
  -->