
= styles_for :user

.title_tools
  = link_to_inline(:create_user, new_admin_user_path, :text => t(:create_user))

.title
  %span#create_user_title #{t :users}
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#create_user{ hidden }

.list#users= render @users
#paginate= render "common/paginate"
#export= render "common/export"