<%= simple_form_for @kiosk do |f| %>
  <%= f.error_notification %>


  <div class="kiosk_inputs_class">
    <br>
    <%= f.label :name, class: 'kiosk_labels' %>
    <%= f.input_field :name, class: 'kiosk_inputs' %>
    <br>
    <br>
    <%= f.label :account_id, class: 'kiosk_labels' %>
    <%= f.input_field :account_id, class: 'kiosk_inputs' %>
    <br>
    <br>
    <%= f.label :purchase_date, class: 'kiosk_labels' %>
    <%= f.input_field :purchase_date, class: 'kiosk_inputs' %>
    <br>
    <br>
    <%= f.label :contract_type, class: 'kiosk_labels' %>
    <%= f.input_field :contract_type, class: 'kiosk_inputs' %>
    <br>
    <br>
    <%= f.label :contract_length, class: 'kiosk_labels' %>
    <%= f.input_field :contract_length, class: 'kiosk_inputs' %>
    <br>
    <br>
    <%= f.label :password, class: 'kiosk_labels' %>
    <%= f.input_field :password, class: 'kiosk_inputs' %>
    <br>
    <br>
    <%= f.label 'CD Burn Code', class: 'kiosk_labels' %>
    <%= f.input_field :cd_password, class: 'kiosk_inputs' %>
    <br>
    <br>
    <%= f.label :notes, class: 'kiosk_labels' %>
    <%= f.input_field :notes, class: 'kiosk_inputs' %>
    <br>
    <br>

  </div>

  <div class="kiosk_actions_class">
    <%= f.button :submit %>
  </div>
<% end %>
