<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kiosk.name %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @kiosk.purchase_date %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @kiosk.contract_id %>
</p>

<p>
  <strong>Contract length:</strong>
  <%= @kiosk.contract_length %>
</p>

<p>
  <strong>Password:</strong>
  <%= @kiosk.password %>
</p>

<p>
  <strong>Cd password:</strong>
  <%= @kiosk.cd_password %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @kiosk.notes %>
</p>

<%= link_to 'Edit', edit_kiosk_path(@kiosk) %> |
<%= link_to 'Back', kiosks_path %>
