%h1 Listing products

%table
  %thead
    %tr
      %th Name
      %th Sku
      %th Description
      %th Image url
      %th Url
      %th Gtin
      %th Brand
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.sku
        %td= product.description
        %td= product.image_url
        %td= product.url
        %td= product.gtin
        %td= product.brand
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

%br

= styles_for :product

= render 'entities/title_bar'

.remote#create_product{ hidden }

- # = render 'search'

.remote#options{ hidden }

.list#products
  - if @products.any?
    = render @products
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"

= hook(:product_index_after, self)
