.filters#filters
  = render "selector"
  - if @view == "pending" || @view == "assigned"
    - Setting.unroll(:task_bucket).each do |value, key|
      .space-between
        .form-check
          = task_filter_checkbox(@view, key, @task_total[key])
          = label_tag(key, t(key), class: 'form-check-label')
        .status-total
          = @task_total[key]
  - else # @view == "completed"
    - Setting.unroll(:task_completed).each do |value, key|
      .space-between
        .form-check
          = task_filter_checkbox(@view, key, @task_total[key])
          = label_tag(key, t(key), class: 'form-check-label')
        .status-total
          = @task_total[key]
  .space-between
    .status-total
      %b== #{t(:total_tasks, t(@view + '_tasks'))}
    %b= @task_total[:all]
