- if field_group.name != 'custom_fields'
  -# start a new section
  - collapsed = session[field_group.key].nil?
  %div{ id: "#{field_group.key}_container", :"data-tag" => field_group.tag.try(:name) }
    = subtitle field_group.key, collapsed, t(field_group.name, default: field_group.label)
    .section
      %small{ hidden_if(!collapsed).merge(id: "#{field_group.key}_intro") }
      %div[field_group]{ hidden_if(collapsed) }
        = render partial: 'fields/group_table', locals: {f: f, field_group: field_group}
- else
  .section= render partial: 'fields/group_table', locals: {f: f, field_group: field_group}
