- asset = controller_name.singularize
- f.object.tags = unsaved_param_tags(asset) if params[asset] and params[asset][:tag_list]
- field_groups = {}

#field_groups
  - f.object.class.custom_fields.group_by(&:field_group_id).each do |field_group_id, fields|
    - field_group = field_group_id ? FieldGroup.find(field_group_id) : FieldGroup.new(:name => "Custom Fields")
    - tag = f.object.tags.detect { |tag| tag.id == field_group.tag_id }
    - field_groups[tag.name.downcase] = "#{field_group.key}_container" if tag

    = render :partial => 'fields/group', :locals => {:f => f, :field_group => field_group, :fields => fields}

:javascript
  if (fbtaglist) {
    crm.set_tag_list_event('#{controller_name}', '#{asset}', '#{params[:id]}');
    loadedFieldGroups = $H(#{field_groups.to_json});
  }

