- assets = controller_path.split('/').reject(&:blank?).join('_')
- asset = assets.singularize
#empty
  - if @current_query.blank?
    == #{t(:could_not_find, assets)} #{link_to(t(:create_new) << ' ' << t(asset + '_small'), :url => send("new_" << asset << "_path"), :remote => true)}.
  - else
    == #{t(:could_not_find_matching, t(assets.downcase + '_small'))} <span class="cool"><b>#{h @current_query}</b></span>; #{t :please_retry}
