- class_name = commentable.class.name.downcase
.comment#comment_new{:style => "margin: 5px 0px 0px 0px"}
  = link_to avatar_for(@current_user, :size => "25x25"), user_path(@current_user)
  #post{ hidden_if(session["#{class_name}_new_comment"].nil?) }
    - remote_form_for(@comment) do |f|
      = hidden_field_tag "comment[user_id]", @current_user.id
      = hidden_field_tag "comment[commentable_id]", commentable.id
      = hidden_field_tag "comment[commentable_type]", class_name.capitalize
      = f.text_area :comment
      %div{:style => "padding:6px 0px 0px 40px;"}
        = f.submit t :add_note
        #{t :or}
        = link_to_remote(t(:cancel), :url => send("new_#{class_name}_comment_url", commentable), :method => :get, :with => "'cancel=true'")
  #ask{ hidden_if(session["#{class_name}_new_comment"])}
    = text_field_tag :post_new_note, t(:add_note_help), :onclick => remote_function(:url => send("new_#{class_name}_comment_url", commentable), :method => :get)

