- path = controller.controller_name
- path = "admin/#{path}" if controller.class.to_s.starts_with?("Admin::")

%h4 #{t(:search_assets, t(controller.controller_name + "_small"))}
%div{ :style => "margin: 0px 0px 6px 0px" }
  = text_field_tag("query", @current_query, :size => 23)
  = observe_field("query", :frequency => 0.75, :function => "crm.search(value, '#{path}')")