#about{ hidden }
  %h3
    #{t:about_ffc_version}
    %span.cool== v#{FatFreeCRM::Version}
    == (#{ActiveRecord::Base.connection.adapter_name.downcase})
  %p
    #{t:about_thank_you}
    %p
      #{t:about_ffc_resources}:
      %ul{:style => "margin: 0px 0px 0px 15px"}
        %li== &raquo; #{link_to t(:about_home_page), "http://www.fatfreecrm.com", :popup => true}
        %li== &raquo; #{link_to t(:about_project_page), "http://github.com/michaeldv/fat_free_crm/tree/master", :popup => true}
        %li== &raquo; #{link_to t(:about_features), "http://fatfreecrm.lighthouseapp.com", :popup => true}
        %li== &raquo; #{link_to t(:about_twitter), "http://twitter.com/fatfreecrm", :popup => true}
        %li== &raquo; #{link_to t(:about_user_group), "http://groups.google.com/group/fat-free-crm-users", :popup => true}
        %li== &raquo; #{link_to t(:about_dev_group), "http://groups.google.com/group/fat-free-crm-dev", :popup => true}
