#about{ hidden }
  %h3
    #{t :about_ffc_version}
    %span.cool== v#{FatFreeCRM::VERSION::STRING}
    == (#{ActiveRecord::Base.connection.adapter_name.downcase})
  %p
    #{t :about_thank_you}

  #{t :about_ffc_resources}:
  %ul
    %li== &raquo; #{link_to t(:about_home_page), "http://www.fatfreecrm.com", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_project_page), "http://github.com/fatfreecrm/fat_free_crm/tree/master", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_features), "http://github.com/fatfreecrm/fat_free_crm/issues", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_twitter), "http://twitter.com/fatfreecrm", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_user_group), "http://groups.google.com/group/fat-free-crm-users", :"data-popup" => true}
    %li== &raquo; #{link_to t(:about_dev_group), "http://groups.google.com/group/fat-free-crm-dev", :"data-popup" => true}
  %br
