#footer
  Powered by #{link_to "Fat Free CRM", "http://www.fatfreecrm.com", :"data-popup" => true }
  v#{FatFreeCRM::Version} &copy; 2008-#{Date.today.year} by Michael Dvorkin
  - unless tabless_layout?
    \|
    = link_to(t(:about), "#", :title => t(:about_ffc), :onclick => "Modalbox.show($('about'), { title: this.title }); return false;")
%br
= render "layouts/about"
