#footer
  Powered by #{link_to "Fat Free CRM", "http://www.fatfreecrm.com", :"data-popup" => true }
  v#{FatFreeCRM::VERSION::STRING} &copy; 2008-#{Date.today.year} by Michael Dvorkin
  \|
  = image_tag "iconset_attribution.png"
  Icons from the 
  = link_to 'Gentleface Mono Icon Set', "http://gentleface.com/free_icon_set.html"

  - unless tabless_layout?
    \|
    = link_to(t(:about_ffc), "#", :title => t(:about_ffc), :onclick => "Modalbox.show($('about'), { title: this.title }); return false;")
%br
= render "layouts/about"
