#header
  %div
    - if current_user
      Welcome,
      = current_user.first_name << "! "
      = link_to("Preferences", url_for(:controller => "preferences")) << " | "
      = link_to("Profile", profile_path) << " | "
      = link_to("Logout", logout_path, :method => :delete)
    - else
      = link_to("Login", login_path) << " | "
      = link_to("Sign Up", signup_path)
      -# link_to("Help", "/")
  %h3
    = link_to("Fat Free CRM", home_path)
