#header
  #welcome
    - if current_user
      Welcome,
      = (current_user.first_name.blank? ? current_user.username : current_user.first_name.capitalize) << "! "
      = link_to("Quick find", "#", :id => "jumper") << " | "
      = link_to("Profile", profile_path) << " | "
      = link_to("Logout", logout_path, :method => :delete)
      = render :partial => "/layouts/jumpbox"
    - else
      = link_to("Login", login_path) << " | "
      = link_to("Sign Up", signup_path)
      -# link_to("Help", "/")
  %h3
    = link_to("Fat Free CRM", home_path)
