- action ||= controller.action_name
- sidebar = "#{controller.controller_name}/sidebar_#{action}"
- sidebar = "admin/#{sidebar}" if controller.class.to_s.starts_with?("Admin::")

= yield(:sidebar)
- begin
  = render :partial => sidebar
  - rescue MissingTemplate
= render :partial => "common/recently"
