- view   ||= controller.controller_name
- action ||= controller.action_name
- sidebar = "fat_free_crm/#{view}/sidebar_#{action}"
- sidebar = "fat_free_crm/admin/#{sidebar}" if controller.class.to_s.starts_with?("Admin::")

= content_for :sidebar
- begin
  = render sidebar
  - rescue MissingTemplate

= render "fat_free_crm/lists/lists"
= render "fat_free_crm/shared/recently"
