.tabs
  %ul
    - tabs.each do |tab|
      %li
        = link_to(tab[:url], class: tab[:active] ? "active" : nil) do
          %i.fa{class: tab[:icon]}
          = t(tab[:text])

= show_flash
%div{ class: 'container-fluid' }
  %div{ class: 'row' }
    %div{ class: :sidebar, id: :sidebar, valign: :top }
      = render "layouts/sidebar"
    %div{ class: 'main', id: :main, valign: :top }
      = yield
