!!!5
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Fat Free CRM
    == <!-- #{controller.controller_name} : #{controller.action_name} -->
    = stylesheet_link_tag "screen", "modalbox.css", :cache => "cache/all"
    = stylesheet_link_tag "print", :media => "print"
    - unless tabless_layout?
      = stylesheet_link_tag "calendar_date_select/default.css"
    %style= content_for :styles

    = javascript_include_tag :defaults, "modalbox.js", :cache => "cache/all"
    - unless tabless_layout?
      = javascript_include_tag "crm_classes.js", "calendar_date_select/calendar_date_select.js", "calendar_date_select/format_#{t(:calendar_date_select_format, :default => 'american')}.js", :cache => "cache/classes"
    = hook(:javascript_includes, self)

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    %script{:type => "text/javascript"}= content_for :javascript
    = csrf_meta_tag

  %body
    = render "layouts/header"
    - if tabless_layout?
      = render "layouts/tabless"
    - else
      = render "layouts/tabbed"
      = render "layouts/footer"

    - unless tabless_layout? || I18n.locale == "en-US"
      = localize_calendar_date_select
    %script{:type => "text/javascript"}
      = "crm.base_url = '#{Setting.base_url}';" unless Setting.base_url.blank?
      = get_browser_timezone_offset
      = content_for :javascript_epilogue
      = hook(:javascript_epilogue, self)

