- edit ||= false
- collapsed = (@account.errors.empty? && session[:account_contact].nil?)
= subtitle :account_contact, collapsed, t(:contact_info)
.idc-panel
  %small#account_contact_intro.full-width{ hidden_if(!collapsed) }
    = t(:intro, t(:account_small)) unless edit
  .idc-form-group#account_contact{ hidden_if(collapsed) }
    .form-group.one-sixth
      %label #{t :phone_toll_free}:
      = f.text_field(:toll_free_phone, {class: 'form-control'})
    .form-group.one-sixth
      %label #{t :phone}:
      = f.text_field(:phone, {class: 'form-control'})
    .form-group.one-sixth
      %label #{t :fax}:
      = f.text_field(:fax, {class: 'form-control'})
    .form-group.one-quarter
      %label #{t :website}:
      = f.text_field(:website, {class: 'form-control'})
    .form-group.one-quarter
      %label Email:
      = f.text_field(:email, {class: 'form-control'})
  
  .idc-addresses{ hidden_if(collapsed) }
    = render "shared/address", f: f, asset: @account, type: :billing, title: :billing_address
    = render "shared/address", f: f, asset: @account, type: :shipping, title: :shipping_address, same_as_billing: true
