- edit ||= false
- collapsed = (@account.errors.empty? && session[:account_contact].nil?)
= subtitle :account_contact, collapsed, t(:contact_info)
.section
  %small#account_contact_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:lead_small)) unless edit
  #account_contact{ hidden_if(collapsed) }
    %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td{ :valign => :top }
          .label.top #{t :website}:
          = f.text_field :website, :style => "width:240px"
        %td= spacer
        %td{ :valign => :top }
          .label.top #{t :phone_toll_free}:
          = f.text_field :toll_free_phone, :style => "width:240px"
      %tr
        %td{ :valign => :top }
          .label #{t :phone}:
          = f.text_field :phone, :style => "width:240px"
        %td= spacer
        %td{ :valign => :top }
          .label #{t :fax}:
          = f.text_field :fax, :style => "width:240px"
      %tr
        %td{ :valign => :top }
          .label #{t :billing_address}:
          = f.text_area :billing_address, :style =>"width:240px", :rows => 4
        %td= spacer
        %td{ :valign => :top }
          .label
            #{t :shipping_address}:
            = link_to_function t(:same_as_billing), %/$("account_shipping_address").value = $("account_billing_address").value/
          = f.text_area :shipping_address, :style =>"width:240px", :rows => 4



