- edit ||= false
- collapsed = (@account.errors.empty? && session[:account_contact].nil?)
= subtitle :account_contact, collapsed, t(:contact_info)
.section
  %small#account_contact_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:account_small)) unless edit
  #account_contact{ hidden_if(collapsed) }
    %table
      %tr
        %td{ :colspan => 3 }
          %table{ :width => "100%", :cellpadding => 0, :cellspacing => 0 }
            %tr
              %td
                .label #{t :phone_toll_free}:
                = f.text_field :toll_free_phone, :style => "width:154px"
              %td= spacer
              %td
                .label #{t :phone}:
                = f.text_field :phone, :style => "width:154px"
              %td= spacer
              %td
                .label #{t :fax}:
                = f.text_field :fax, :style => "width:154px"
      %tr
        %td
          .label.top #{t :website}:
          = f.text_field :website
        %td= spacer
        %td
          .label.top Email:
          = f.text_field :email
      %tr
        %td
          = render "common/address", :f => f, :asset => @account, :type => :billing, :title => :billing_address
        %td= spacer
        %td
          = render "common/address", :f => f, :asset => @account, :type => :shipping, :title => :shipping_address, :same_as_billing => true
