- edit ||= false
- collapsed = (@account.errors.empty? && session[:account_contact].nil?)
= subtitle :account_contact, collapsed, t(:contact_info)
.section
  %small#account_contact_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:account_small)) unless edit
  #account_contact{ hidden_if(collapsed) }
    .form-group
      %label #{t :phone_toll_free}:
      = f.text_field(:toll_free_phone, {class: 'form-control'})
    
    .form-group
      %label #{t :phone}:
      = f.text_field(:phone, {class: 'form-control'})
    
    .form-group
      %label #{t :fax}:
      = f.text_field(:fax, {class: 'form-control'})
    .form-group
      %label #{t :website}:
      = f.text_field(:website, {class: 'form-control'})
    .form-group
      %label Email:
      = f.text_field(:email, {class: 'form-control'})
    = render "shared/address", f: f, asset: @account, type: :billing, title: :billing_address
    = render "shared/address", f: f, asset: @account, type: :shipping, title: :shipping_address, same_as_billing: true
