- remote_form_for(@account, :html => one_submit_only(:account)) do |f|
  = link_to_close new_account_path
  = hidden_field_tag "account[user_id]", @current_user.id
  = f.error_messages
  = render :partial => "accounts/top_section",  :locals => { :f => f }
  = render :partial => "accounts/contact_info", :locals => { :f => f }
  = render :partial => "accounts/permissions",  :locals => { :f => f }
  .buttonbar
    = f.submit t :create_account
    #{t :or} 
    = link_to_cancel new_account_path
    
