= form_for(@account, :html => one_submit_only(:account), :remote => true) do |f|
  = link_to_close new_account_path
  = f.hidden_field :user_id

  = f.error_messages :object_name => t('account')

  = render "accounts/top_section",  :f => f
  = render "accounts/contact_info", :f => f
  = render "accounts/permissions",  :f => f
  .buttonbar
    - if Setting.compound_address
      = f.submit t(:create_account), :onclick => "crm.clear_all_hints()"
    - else
      = f.submit t(:create_account)
    #{t :or}
    = link_to_cancel new_account_path

