%p
  = link_to_close options_accounts_path
  = hidden_field_tag "account[user_id]", @current_user.id
  == #{t(:sort_by, t(:accounts_small))} #{link_to(@sort_by, "#", :id => :sort_by)}.
  == #{t:show} #{link_to(@per_page, "#", :id => :per_page)} #{t:account_records} #{t:per_page}
  == #{t:using} #{link_to(@outline, "#", :id => :outline)} #{t:format}.
%p

%script
  = render :partial => "sort_by"
  = render :partial => "common/per_page"
  = render :partial => "common/outline"
