- collapsed = (@account.errors.empty? && session[:account_permissions].nil?)
= subtitle :account_permissions, collapsed
.section
  %small#account_permissions_intro{ hidden_if(!collapsed) }
    By default only you will have access to the account. You can change account permissions later.
  #account_permissions{ hidden_if(collapsed) }
    .radio_box
      = radio_button_tag "account[access]", "Private", @account.access == "Private", :onclick => "$('people').hide()"
      Keep it private, do not share with others
    .radio_box
      = radio_button_tag "account[access]", "Public",  @account.access == "Public", :onclick => "$('people').hide()"
      Share it with everyone
    .radio_box
      = radio_button_tag "account[access]", "Shared",  @account.access == "Shared", :onclick => "$('people').show()"
      Share it with the following people
    #people{ hidden_if(@account.access != "Shared") }
      %div{ :style => "padding: 6px 0px 0px 20px" }
        - for user in @users
          .check_box
            -# Preserve state of the checkboxes if the form gets redrawn on errors.
            = check_box_tag "users[]", user.id, params[:users] && params[:users].include?(user.id.to_s)
            = user.full_name
