- edit ||= false
- collapsed = session[:account_permissions].nil? # && @account.errors.empty?
= subtitle :account_permissions, collapsed, t(:permissions)
.section
  %small#account_permissions_intro{ hidden_if(!collapsed) }
    = t(:permissions_intro, t(:account_small)) unless edit
  #account_permissions{ hidden_if(collapsed) }
    .radio_box
      = radio_button_tag "account[access]", "Private", @account.access == "Private", :onclick => "$('people').hide()"
      #{t:keep_private}
    .radio_box
      = radio_button_tag "account[access]", "Public",  @account.access == "Public", :onclick => "$('people').hide()"
      #{t:make_public}
    .radio_box
      = radio_button_tag "account[access]", "Shared",  @account.access == "Shared", :onclick => "$('people').show()"
      #{t:share_with}
    #people{ hidden_if(@account.access != "Shared") }
      %div{ :style => "padding: 6px 0px 0px 20px" }
        - for user in @users
          .check_box
            -# Preserve state of the checkboxes if the form gets redrawn on errors.
            = check_box_tag "users[]", user.id, @account.permissions.map(&:user_id).include?(user.id) || (params[:users] && params[:users].include?(user.id.to_s))
            = user.full_name
