.filters#filters
  = render "common/search"
  = hook(:index_account_sidebar_bottom, self)
  - Setting.account_category.each do |key|
    .check_box{:style => "border-bottom: 1px silver dotted;"}
      %div{:style => "float:right;"}
        = @account_category_total[key]
      = account_category_checbox(key, @account_category_total[key])
      = label_tag(key, t(key))

  .check_box{:style => "border-bottom: 1px silver dotted;"}
    %div{:style => "float:right;"}
      = @account_category_total[:other]
    = account_category_checbox("other", @account_category_total[:other])
    = label_tag(:other, t(:other))

  .check_box
    %div{:style => "float:right;"}
      %b= @account_category_total[:all]
    %b #{t :total_accounts}
  = hook(:index_account_sidebar_bottom, self)
