- won = @account.opportunities.won.map(&:amount).compact.sum
- lost = @account.opportunities.lost.map(&:amount).compact.sum
- pipeline = @account.opportunities.pipeline.map(&:weighted_amount).compact.sum

.panel#summary
  %h4= h(@account.name)
  - if @account.website
    %div
      %b= link_to(truncate(@account.website, :length => 30), @account.website.to_url, :"data-popup" => true, :title => t(:open_in_window, @account.website))
  - if @account.email.present?
    %div
      %b= link_to_email(@account.email, 30)

  %div
    - if @account.toll_free_phone
      #{t :phone_toll_free}: <b>#{@account.toll_free_phone}</b><br />

    - if @account.phone
      #{t :phone}: <b>#{@account.phone}</b><br />

    - if @account.fax
      #{t :fax}: <b>#{@account.fax}</b><br />

  %div= render "shared/address_show", :asset => @account, :type => 'billing', :title => :billing_address
  %div= render "shared/address_show", :asset => @account, :type => 'shipping', :title => :shipping_address

  .caption #{t :account_summary}
  %li
    %dt= pipeline != 0.0 ? number_to_currency(pipeline, :precision => 0) : t(:n_a)
    %tt #{t :pipeline}:
  %li
    %dt= won != 0.0 ? number_to_currency(won, :precision => 0) : t(:n_a)
    %tt #{t :won}:
  %li
    %dt= lost != 0.0 ? number_to_currency(lost, :precision => 0) : t(:n_a)
    %tt #{t :lost}:
  %li
    %dt= @account.category ? t(@account.category) : t(:other)
    %tt #{t :category}:
  %li
    %span{:style => "float:right;"}= stars_for(@account)
    %tt #{t :rating}:
  %li
    %dt= @account.assigned_to ? truncate(@account.assignee.full_name, :length => 16) : nil
    %tt #{t :assigned_to}:

  - unless @account.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @account.background_info).html_safe

  = render "fields/sidebar_show", :asset => @account

  - if @account.tag_list.present?
    %dt
      .tags= tags_for_index(@account)

  = hook(:show_account_sidebar_bottom, self, :account => @account)
