.panel#summary
  %h4= h(@account.name)
  - if @account.website
    %div
      %b= link_to(truncate(@account.website, :length => 30), @account.website.to_url, :popup => true, :title => t(:open_in_window, @account.website))
  - if @account.email
    %div
      %b= link_to(truncate(@account.email, :length => 30), "mailto:" << @account.email.to_s, :title => @account.email)

  %div
    - if @account.toll_free_phone
      #{t :phone_toll_free}: <b>#{@account.toll_free_phone}</b><br />

    - if @account.phone
      #{t :phone}: <b>#{@account.phone}</b><br />

    - if @account.fax
      #{t :fax}: <b>#{@account.fax}</b><br />

  %div= render :partial => "common/address_show", :locals => { :asset => @account, :type => 'billing', :title => :billing_address }

  %div= render :partial => "common/address_show", :locals => { :asset => @account, :type => 'shipping', :title => :shipping_address }

  - unless @account.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format h(@account.background_info))

  = hook(:show_account_sidebar_bottom, self, :account => @account)
