.section
  %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td{ :valign => :top }
        .label.top.req #{t :name}:
        = f.text_field :name, :style => "width:324px"
      %td= spacer
      %td{ :valign => :top }
        .label.top.req #{t :assigned_to}:
        = collection_select :account, :assigned_to, @users, :id, :full_name, { :include_blank => t(:myself) }, { :style => "width:160px" }
    = hook(:account_top_section_bottom, self, :f => f)
