= hook(:account_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td(colspan="5")
          .label.top.req #{t :name}:
          = f.text_field :name, :style => "width:500px"
      %tr
        %td
          .label #{t :assigned_to}:
          = collection_select :account, :assigned_to, @users, :id, :full_name, { :include_blank => t(:myself) }, { :style => "width:160px" }
        %td= spacer
        %td
          .label #{t :category}:
          = f.select :category, Setting.unroll(:account_category), { :selected => (@account.category || "other").to_sym, :include_blank => t(:other) }, { :style => "width:160px" }
        %td= spacer
        %td
          .label #{t :rating}:
          = rating_select "account[rating]", { :id => :account_rating, :selected => @account.rating, :style => "width:160px" }

      - if Setting.background_info && Setting.background_info.include?(:account)
        %tr
          %td(colspan="5")
            .label= t(:background_info) << ':'
            = f.text_area :background_info, :style =>"width:500px", :rows => 3

      = hook(:account_top_section_bottom, self, :f => f)

