= styles_for :account

= inline :create_account, new_account_path
- unless @account
  .title#create_account_title Accounts
  .remote#create_account{ hidden }
- else
  .title#create_account_title Create Account
  .remote#create_account= render :partial => "create"

.list#accounts
  - unless @accounts.empty?
    = render :partial => "account", :collection => @accounts
  - else
    %div== You don't have any accounts set up yet. Feel free to #{link_to("create new account", new_account_path)} now.
