= styles_for :account

= image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

#buttons
  = render 'format_buttons'
  .create_asset
    = link_to_inline(:create_account, new_account_path, :text => t(:create_account))

= render 'search'

.remote#create_account{ hidden }

.remote#options{ hidden }

.list#accounts
  - if @accounts.any?
    = render @accounts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
