.title
  Accounts
%br
%table{ :width => "100%", :cellpadding => 0, :cellspacing => 0 }
  %tr
    %td.head Name
    %td.head Location
    %td.head Phone
    %td.head Created
  - unless @accounts.empty?
    - for account in @accounts
      %tr{ highlightable }
        %td.cell
          = link_to account.name, account
        %td.cell
          = account.location
        %td.cell
          = account.phone
        %td.cell
          = time_ago_in_words(account.created_at) + " ago by "
          = (account.user.id == @current_user.id ? "me" : account.user.full_name)
  - else
    %tr
      %td{ :colspan => 4 }
        You don't have any accounts set up. Please
        = link_to "create new account", new_account_path
        first.
%br
%hr{ :size => 1 }
= link_to "Create New Account", new_account_path
