= styles_for :account

= inline :create_account, new_account_path
.title
  %span#create_account_title Accounts
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#create_account{ hidden }

.list#accounts
  - unless @accounts.empty?
    = render :partial => "account", :collection => @accounts
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"