= styles_for :contact, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to("Edit", edit_account_path(@account)) + " | "
  = link_to_function("Delete?", confirm_delete(@account))
.title= @account.name

= render :partial => "common/new_comment", :locals => { :commentable => @account }
= render :partial => "common/comment", :collection => @account.comments

-#-----------------------------------------------------------------------------
%br
- @context = "create_task_accounts_#{@account.id}" # NOTE: plural accounts
- session[@context] = nil
= inline @context, new_task_path, "Create Task", { :class => "subtitle_tools" }
.subtitle{ :id => "#{@context}_title"} Tasks

.remote{ hidden, :id => @context }

.log#tasks
  - if @account.tasks.my(@current_user).pending.any?
    = render :partial => "tasks/pending", :collection => @account.tasks.my(@current_user).pending, :locals => { :bucket => nil }
  - if @account.tasks.assigned.any?
    = render :partial => "tasks/assigned", :collection => @account.tasks.assigned, :locals => { :bucket => nil }
  - if @account.tasks.completed.any?
    = render :partial => "tasks/completed", :collection => @account.tasks.completed, :locals => { :bucket => nil }

-#-----------------------------------------------------------------------------
%br
- @context = "create_contact_account_#{@account.id}"
- session[@context] = nil
= inline @context, new_contact_path, "Create Contact", { :class => "subtitle_tools" }
.subtitle{ :id => "#{@context}_title"} Contacts

.remote{ hidden, :id => @context }
.list#contacts
  = render :partial => "contacts/contact", :collection => @account.contacts

-#-----------------------------------------------------------------------------
%br
- @context = "create_opportunity_account_#{@account.id}"
- session[@context] = nil
= inline @context, new_opportunity_path, "Create Opportunity", { :class => "subtitle_tools" }
.subtitle{ :id => "#{@context}_title"} Opportunities

.remote{ hidden, :id => @context }
.list#opportunities
  = render :partial => "opportunities/opportunity", :collection => @account.opportunities
