- content_for :styles do
  %style
    - Setting.opportunity_stage_color.each do |key, value|
      == .#{key} { background:#{value}; }

#confirm{ hidden }
.title_menu#menu
  = link_to("Edit", edit_account_path(@account)) + " | "
  = link_to_function("Delete?", confirm_delete(@account))
.title= @account.name

= render :partial => "common/new_comment", :locals => { :commentable => @account }
= render :partial => "common/comment", :collection => @account.comments
.list
  .subtitle Contacts
  = render :partial => "contacts/contact", :collection => @account.contacts
.list
  .subtitle Opportunities
  - logger.p @stage.inspect
  = render :partial => "opportunities/opportunity", :collection => @account.opportunities
