= styles_for :contact, :opportunity

#confirm{ hidden }
.title_menu#menu
  = link_to("Edit", edit_account_path(@account)) + " | "
  = link_to_function("Delete?", confirm_delete(@account))
.title= @account.name

= render :partial => "common/new_comment", :locals => { :commentable => @account }
= render :partial => "common/comment", :collection => @account.comments

%br
.subtitle#contact Contacts
.list#contacts
  = render :partial => "contacts/contact", :collection => @account.contacts

%br
.subtitle#opportunity Opportunities
.list#opportunities
  = render :partial => "opportunities/opportunity", :collection => @account.opportunities
