
= styles_for :task, :contact, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_account, edit_account_path(@account), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@account))
.title#edit_account_title= h(@account.name)

%div#edit_account{ hidden }

= render :partial => "accounts/sections", :locals => { :account => @account }

= render "comments/new", :commentable => @account
= render :partial => "shared/timeline", :collection => @timeline

= hook(:show_account_bottom, self) do

  = render :partial => "tasks/tasks", :locals => {:object => @account}

  = render :partial => "contacts/contacts", :locals => {:object => @account}

  = render :partial => "opportunities/opportunities", :locals => {:object => @account}

  = render :partial => "versions/versions", :locals => {:object => @account}

  = load_select_popups_for(@account, :tasks, :contacts, :opportunities)
