= styles_for :contact, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to("Edit", edit_account_path(@account)) + " | "
  = link_to_function("Delete?", confirm_delete(@account))
.title= @account.name

= render :partial => "common/new_comment", :locals => { :commentable => @account }
= render :partial => "common/comment", :collection => @account.comments

%br
- @context = "create_contact_account_#{@account.id}"
- session[@context] = nil
//= inline @context, new_contact_path, "Create Contact", { :class => "subtitle_tools" }
.subtitle{ :id => "#{@context}_title"} Contacts

//.remote{ hidden, :id => @context }
.list#contacts
  = render :partial => "contacts/contact", :collection => @account.contacts

%br
- @context = "create_opportunity_account_#{@account.id}"
- session[@context] = nil
= inline @context, new_opportunity_path, "Create Opportunity", { :class => "subtitle_tools" }
.subtitle{ :id => "#{@context}_title"} Opportunities

.remote{ hidden, :id => @context }
.list#opportunities
  = render :partial => "opportunities/opportunity", :collection => @account.opportunities
