- if (template = template_for_current_view)
  = render(template, account: @account)
- else
  
  -# default view

  = styles_for :task, :contact, :opportunity

  = render 'accounts/title_bar', account: @account
  = render 'accounts/sidebar_show', account: @account

  %div#edit_account{ hidden }

  = render "comments/new", commentable: @account
  = render partial: "shared/timeline", collection: @timeline

  = hook(:show_account_bottom, self, {entity: @account}) do

    = render partial: "tasks/tasks", locals: {object: @account}

    = render "contacts/contacts", object: @account

    = render "opportunities/opportunities", object: @account

    = render "versions/versions", object: @account

    = load_select_popups_for(@account, :tasks, :contacts, :opportunities)
