= styles_for :task, :contact, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_account, edit_account_path(@account), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@account))
.title#edit_account_title= h(@account.name)

%div#edit_account{ hidden }

= render "comments/new", :commentable => @account
= render :partial => "common/timeline", :collection => @timeline

= hook(:show_account_bottom, self) do

  = section(@account, :tasks)
  .log#tasks
    = render "common/tasks"

  = section(@account, :contacts)
  .list#contacts
    - @contacts = @account.contacts.paginate(:page => 1, :per_page => 20)
    = render :partial => "contacts/contact", :collection => @contacts
  = will_paginate @contacts, :id => true, :params => {:action => :contacts}

  %br( style="clear:both" )

  = section(@account, :opportunities)
  .list#opportunities
    - @opportunities = @account.opportunities.paginate(:page => 1, :per_page => 20)
    = render :partial => "opportunities/opportunity", :collection => @opportunities
  = will_paginate @opportunities, :id => true, :params => {:action => :opportunities}

  = load_select_popups_for(@account, :tasks, :contacts, :opportunities)

